// FOOTER START
footer
  .container
    .row
      .col-lg-3.col-md-3.col-sm-6.footer-left.col-footer
        a.footer-logo(href='index.html')
          img(src='assets/images/footer-logo-red.png', alt='logo-img')
        div
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
        ul
          li
            a(href='#')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-twitter
          li
            a(href='#')
              i.fa.fa-pinterest
          li
            a(href='#')
              i.fa.fa-instagram
          li
            a(href='#')
              i.fa.fa-dribbble
          li
            a(href='#')
              i.fa.fa-flickr
      .col-lg-3.col-md-3.col-sm-6.col-footer.footer-nav.first-nav
        .h3 Additional Links
        ul
          li
            a(href='index.html') HOME
          li
            a(href='about.html') ABOUT
          li
            a(href='services.html') SERVICES
          li
            a(href='portfolio.html') PORTFOLIO
          li
            a(href='team.html') TEAM
          li
            a(href='blog.html') BLOG
      .col-lg-3.col-md-3.col-sm-6.col-footer.footer-nav
        .h3 Blog
        ul
          li
            a(href='blog.html') Full Width
          li
            a(href='blog-with-leftbar.html') Blog With Left Sidebar
          li
            a(href='blog-with-rightbar.html') Blog With Right Sidebar
          li
            a(href='blog-detail.html') Blog Detail Page
          li
            a(href='blog-detail-leftbar.html') Blog Detail Page With Left Sidebar
          li
            a(href='blog-detail-rightbar.html') Blog Detail Page With Right Sidebar
      .col-lg-3.col-md-3.col-sm-6.col-footer
        .h3 Photo Stream
        ul.footer-thumb
          li
            a(href='#')
              img(src='assets/images/photo-stream-1.jpg', alt='thumb')
          li
            a(href='#')
              img(src='assets/images/photo-stream-2.jpg', alt='thumb')
          li
            a(href='#')
              img(src='assets/images/photo-stream-3.jpg', alt='thumb')
          li
            a(href='#')
              img(src='assets/images/photo-stream-4.jpg', alt='thumb')
          li
            a(href='#')
              img(src='assets/images/photo-stream-5.jpg', alt='thumb')
          li
            a(href='#')
              img(src='assets/images/photo-stream-6.jpg', alt='thumb')
// FOOTER END
section.bottom-bar
  span
    | All Rights Reserved. ©2017 One Solution - Multipurpose HTML Template. Design by 
    a(href='mailto:denysthemes@gmail.com') DENYSTHEMES
a.scrollToTop(href='#')
  i.fa.fa-angle-up
// SWITCH OF OPTIONS
#st-container.st-container.st-effect-1
  #menu-1.st-menu.st-effect-1
    .wide-boxed-section.buttons-list
      .item.wide.active(data-item='wide') Wide
      .item.boxed(data-item='boxed') Boxed
    .color-section
      .section-title Colors scheme:
      .colors-list.items-switcher
        .item.red.active(data-color-path='assets/css/colors/blue.css', data-logo-path='assets/images/logo-red.png', data-footer-logo-path='assets/images/footer-logo-red.png')
        .item.blue(data-color-path='assets/css/colors/blue.css', data-logo-path='assets/images/logo-blue.png', data-footer-logo-path='assets/images/footer-logo-blue.png')
        .item.orange(data-color-path='assets/css/colors/orange.css', data-logo-path='assets/images/logo-orange.png', data-footer-logo-path='assets/images/footer-logo-orange.png')
        .item.green(data-color-path='assets/css/colors/green.css', data-logo-path='assets/images/logo-green.png', data-footer-logo-path='assets/images/footer-logo-green.png')
        .item.violet(data-color-path='assets/css/colors/violet.css', data-logo-path='assets/images/logo-violet.png', data-footer-logo-path='assets/images/footer-logo-violet.png')
    .positioning-header
      .section-title Positioning of header:
      .header-positions.buttons-list
        .item.fixed.active(data-item='fixed') Fixed
        .item.top(data-item='relative') Top
    .boxed-pattern
      .section-title Patterns:
      .patterns-list.items-switcher
        div
          .item.active(style='background-image: url(assets/images/patterns/1.png);', data-path='assets/images/patterns/1.png')
          .item(style='background-image: url(assets/images/patterns/2.png);', data-path='assets/images/patterns/2.png')
          .item(style='background-image: url(assets/images/patterns/3.png);', data-path='assets/images/patterns/3.png')
          .item(style='background-image: url(assets/images/patterns/4.png);', data-path='assets/images/patterns/4.png')
          .item(style='background-image: url(assets/images/patterns/5.png);', data-path='assets/images/patterns/5.png')
        div
          .item(style='background-image: url(assets/images/patterns/6.png);', data-path='assets/images/patterns/6.png')
          .item(style='background-image: url(assets/images/patterns/7.png);', data-path='assets/images/patterns/7.png')
          .item(style='background-image: url(assets/images/patterns/8.png);', data-path='assets/images/patterns/8.png')
          .item(style='background-image: url(assets/images/patterns/9.png);', data-path='assets/images/patterns/9.png')
          .item(style='background-image: url(assets/images/patterns/10.png);', data-path='assets/images/patterns/10.png')
    .boxed-background
      .section-title Backgrounds:
      .backgrounds-list.items-switcher
        .item.active(style='background-image: url(assets/images/backgrounds/1-min.jpg);', data-path='assets/images/backgrounds/1.jpg')
        .item(style='background-image: url(assets/images/backgrounds/2-min.jpg);', data-path='assets/images/backgrounds/2.jpg')
        .item(style='background-image: url(assets/images/backgrounds/3-min.jpg);', data-path='assets/images/backgrounds/3.jpg')
        .item(style='background-image: url(assets/images/backgrounds/4-min.jpg);', data-path='assets/images/backgrounds/4.jpg')
        .item(style='background-image: url(assets/images/backgrounds/5-min.jpg);', data-path='assets/images/backgrounds/5.jpg')
  .st-pusher