// PRELOADER START
.preloader-wrapper
  .loader
    .loader-inner
      .loader-line-wrap
        .loader-line
      .loader-line-wrap
        .loader-line
      .loader-line-wrap
        .loader-line
      .loader-line-wrap
        .loader-line
      .loader-line-wrap
        .loader-line
// PRELOADER END
// TOP BAR START
section.top-bar
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.left-side
        ul
          li
            a(href='#') Contacto: (01) 528-4005    |   info@ingenieriamvd.com

      .col-lg-6.col-md-6.col-sm-6.col-xs-12.right-side
        ul
          li
            a(href='#')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-twitter
          li
            a(href='#')
              i.fa.fa-pinterest
          li
            a(href='#')
              i.fa.fa-instagram
          li
            a(href='#')
              i.fa.fa-dribbble
          li
            a(href='#')
              i.fa.fa-flickr
// TOP BAR END
// MOBILE MENU START
.menu-container
  .menu-wrap
    nav.menu
      ul
        li
          a.btn-7(href='index')
            span Inicio
        li
          a.btn-7(href='about')
            span Nosotros
        li
          a.btn-7(href='team')
            span Clientes
        li.has-sub
          a.btn-7(href='solutions-electricity')
            span
              | Soluciones 
              i.fa.fa-caret-down(aria-hidden='true')
          .sub
            ul
              li
                a(href='solutions-electricity') Electricidad
              li
                a(href='solutions-control') Control
              li
                a(href='solutions-teleco') Telecomunicaciones
              li
                a(href='solutions-sanea') Saneamiento
        li.has-sub
          a.btn-7(href='#')
            span
              | PORTFOLIO 
              i.fa.fa-caret-down(aria-hidden='true')
          .sub
            ul
              li
                a(href='proyectocp04') CONCURSO PUBLICO N° 004-2016-GRH/GR-1
              li
                a(href='proyectocp08') CONCURSO PUBLICO N° 008-2016-GRH/GR-1
              li
                a(href='proyectocp03') CONCURSO PUBLICO N° 003-2016-GRH/GR-1
       
        li
          a.btn-7(href='contact')
            span CONTACTO
    button#close-button.close-button Close Menu
  .menu-shadow
// MOBILE MENU END
// HEADER START
header
  .container
    .row
      .col-lg-3.col-md-3.col-sm-9.col-xs-9
        .c-table.logo-container
          figure.c-row
            a.c-cell(href='index')
              img(src='assets/images/logo-red.png', alt='logo-img')
      .col-lg-9.col-md-9.col-sm-3.col-xs-3
        .cd-primary-nav-trigger
          span.cd-menu-icon
        nav.main-nav
          ul
            li.wrap
              a.btn-7(href='index')
                span INICIO
            li.wrap
              a.btn-7(href='about')
                span NOSOTROS
            li.wrap
              a.btn-7(href='team')
                span NUESTROS CLIENTES
            li.wrap
              a.btn-7(href='solutions-electricity')
                span
                  | SOLUCIONES 
                  i.fa.fa-caret-down(aria-hidden='true')
              .sub
                ul
                  li
                    a(href='solutions-electricity') ELECTRICIDAD
                    a(href='solutions-control') CONTROL Y AUTOMATIZACION
                    a(href='solutions-teleco') TELECOMUNICACIONES
                    a(href='solutions-sanea') SANEAMIENTO
            li.wrap
              a.btn-7(href='portfolio')
                span
                  | PORTAFOLIO 
                  i.fa.fa-caret-down(aria-hidden='true')
              .sub
                ul
                  li
                    a(href='proyectocp04') CONCURSO PUBLICO N° 004-2016-GRH/GR-1
                  li
                    a(href='proyectocp08') CONCURSO PUBLICO N° 008-2016-GRH/GR-1
                  li
                    a(href='proyectocp03') CONCURSO PUBLICO N° 003-2016-GRH/GR-1
              
           

            li.wrap
              a.btn-7(href='contact')
                span CONTACTO
        .clearfix
