// PRELOADER START
.preloader-wrapper
  .loader
    .loader-inner
      .loader-line-wrap
        .loader-line
      .loader-line-wrap
        .loader-line
      .loader-line-wrap
        .loader-line
      .loader-line-wrap
        .loader-line
      .loader-line-wrap
        .loader-line
// PRELOADER END
// TOP BAR START
section.top-bar
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.left-side
        ul
          li
            a(href='#') Contacto: (01) 528-4005    |   info@ingenieriamvd.com

      .col-lg-6.col-md-6.col-sm-6.col-xs-12.right-side
        ul
          li
            a(href='#')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-twitter
          li
            a(href='#')
              i.fa.fa-pinterest
          li
            a(href='#')
              i.fa.fa-instagram
          li
            a(href='#')
              i.fa.fa-dribbble
          li
            a(href='#')
              i.fa.fa-flickr
// TOP BAR END
// MOBILE MENU START
.menu-container
  .menu-wrap
    nav.menu
      ul
        li
          a.btn-7(href='about')
            span Nosotros
        li
          a.btn-7(href='team')
            span TEAM
        li.has-sub
          a.btn-7(href='#')
            span
              | SERVICES 
              i.fa.fa-caret-down(aria-hidden='true')
          .sub
            ul
              li
                a(href='services') Page
              li
                a(href='services-detail') Detailed
        li.has-sub
          a.btn-7(href='#')
            span
              | PORTFOLIO 
              i.fa.fa-caret-down(aria-hidden='true')
          .sub
            ul
              li
                a(href='portfolio') Page
              li
                a(href='portfolio-detail') Detailed
        li.has-sub
          a.btn-7(href='#')
            span
              | BLOG 
              i.fa.fa-caret-down(aria-hidden='true')
          .sub
            ul
              li
                a(href='blog') Full Width
              li
                a(href='blog-with-leftbar') With Left Sidebar
              li
                a(href='blog-with-rightbar') With Right Sidebar
              li
                a(href='blog-detail') Detail Page
              li
                a(href='blog-detail-leftbar') Detail Page With Left Sidebar
              li
                a(href='blog-detail-rightbar') Detail Page With Right Sidebar
        li
          a.btn-7(href='price')
            span PRICE
        li
          a.btn-7(href='contact')
            span CONTACT
    button#close-button.close-button Close Menu
  .menu-shadow
// MOBILE MENU END
// HEADER START
header
  .container
    .row
      .col-lg-3.col-md-3.col-sm-9.col-xs-9
        .c-table.logo-container
          figure.c-row
            a.c-cell(href='index')
              img(src='assets/images/logo-red.png', alt='logo-img')
      .col-lg-9.col-md-9.col-sm-3.col-xs-3
        .cd-primary-nav-trigger
          span.cd-menu-icon
        nav.main-nav
          ul
            li.wrap
              a.btn-7(href='index')
                span INICIO
            li.wrap
              a.btn-7(href='about')
                span NOSOTROS
            li.wrap
              a.btn-7(href='team')
                span NUESTROS CLIENTES
            li.wrap
              a.btn-7(href='services')
                span
                  | SOLUCIONES 
                  i.fa.fa-caret-down(aria-hidden='true')
              .sub
                ul
                  li
                    a(href='services-detail') ELECTRICIDAD
                    a(href='services-detail') CONTROL Y AUTOMATIZACION
                    a(href='services-detail') TELECOMUNICACIONES
                    a(href='services-detail') SANEAMIENTO
            li.wrap
              a.btn-7(href='portfolio')
                span
                  | PORTAFOLIO 
                  i.fa.fa-caret-down(aria-hidden='true')
              .sub
                ul
                  li
                    a(href='portfolio-detail') PROYECTO TINGO MARIA
                  li
                    a(href='portfolio-detail') PROYECTO SANEAMIENTO X
              
           

            li.wrap
              a.btn-7(href='contact')
                span CONTACT
        .clearfix
