// PRELOADER START
.preloader-wrapper
  .loader
    .loader-inner
      .loader-line-wrap
        .loader-line
      .loader-line-wrap
        .loader-line
      .loader-line-wrap
        .loader-line
      .loader-line-wrap
        .loader-line
      .loader-line-wrap
        .loader-line
// PRELOADER END
// TOP BAR START
section.top-bar
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.left-side
        ul
          li
            a(href='#') Contacto: (01) 5097400    |   ventas@ryfcomunicaciones.com

      .col-lg-6.col-md-6.col-sm-6.col-xs-12.right-side
        ul
          li
            a(href='https://www.facebook.com/ryfcomunicacionesperu')
              i.fa.fa-facebook
          li
            a(href='https://www.linkedin.com/in/william-ram%C3%B3n-chinchay-84933a31/')
              i.fa.fa-linkedin
         
// TOP BAR END
// MOBILE MENU START
.menu-container
  .menu-wrap
    nav.menu
      ul
        li
          a.btn-7(href='index')
            span Inicio
        li
          a.btn-7(href='about')
            span Nosotros
       
        li.has-sub
          a.btn-7(href='solutions-electricitycp')
            span
              | Productos
              i.fa.fa-caret-down(aria-hidden='true')
          .sub
            ul
              li
                a(href='solutions-electricitycp') CENTRALES TELEFONICAS
              li
                a(href='solutions-controlcp') EQUIPOS TELEFONICOS DIGITALES/IP
              li
                a(href='solutions-telecocp')  EQUIPOS DE AUDIOCONFERENCIA
              li
                a(href='solutions-saneaccp')  VINCHAS Y HEADSETS
              li
                a(href='solutions-tarificadorescp') TARIFICADORES DE LLAMADA
              li
                a(href='solutions-pozotierracp') MATERIALES PARA PUESTA TIERRA
              li
                a(href='solutions-aireacondicionadocp') SISTEMAS DE AIRE ACONDICIONADO
              li  
                a(href='solutions-videovigilanciacp') SISTEMAS DE VIDIO VIGILANCIA Y VOZ SOBRE IP
              li  
                a(href='solutions-accesorioscp') CABLES Y ACCESORIOS       
        li.has-sub
          a.btn-7(href='#')
            span
              | Servicios
              i.fa.fa-caret-down(aria-hidden='true')
          .sub
            ul
              li
                a(href='proyectocp04') TELECOMUNICACIONES
              li
                a(href='proyectocp08') REDES DE DATOS - LAN
              li
                a(href='proyectocp03') REDES DE DISTRIBUCION ELECTRICA
              li
                a(href='proyectocp09') AIRE ACONDICIONADO
              li
                a(href='proyectocp10') PUESTA A TIERRA  
              li
                a(href='proyectocp11') VIDEO VIGILANCIA  
              li
                a(href='proyectocp12') CAPACITACIONES  
        li
          a.btn-7(href='galeria')
            span Galeria
        li
          a.btn-7(href='contact')
            span Contacto
    button#close-button.close-button Close Menu
  .menu-shadow
// MOBILE MENU END
// HEADER START
header
  .container
    .row
      .col-lg-2.col-md-2.col-sm-10.col-xs-10
        .c-table.logo-container
          figure.c-row
            a.c-cell(href='index')
              img(src='assets/images/logoempresa.jpeg', alt='logo-img')
      .col-lg-10.col-md-10.col-sm-2.col-xs-2
        .cd-primary-nav-trigger
          span.cd-menu-icon
        nav.main-nav
          ul
            li.wrap
              a.btn-7(href='index')
                span INICIO
            li.wrap
              a.btn-7(href='about')
                span NOSOTROS
            //li.wrap
              a.btn-7(href='team')
                span NUESTROS CLIENTES
            li.wrap
              a.btn-7(href='index#sectorproducto')
                span
                  | PRODUCTOS 
                  i.fa.fa-caret-down(aria-hidden='true')
              .sub
                ul
                  li
                    a(href='solutions-electricitycp') CENTRALES TELEFONICAS
                    a(href='solutions-controlcp') EQUIPOS TELEFONICOS DIGITALES/IP
                    a(href='solutions-telecocp') EQUIPOS ADICIONALES DE TELEFONIA
                    a(href='solutions-pozotierracp') MATERIALES PARA PUESTA TIERRA
                    a(href='solutions-aireacondicionadocp') SISTEMAS DE AIRE ACONDICIONADO
                    a(href='solutions-videovigilanciacp') SISTEMAS DE VIDIO VIGILANCIA Y VOZ SOBRE IP

            li.wrap
              a.btn-7(href='index#sectorservicio')
                span
                  | SERVICIOS
                  |
                  i.fa.fa-caret-down(aria-hidden='true')
              .sub
                ul
                  li
                    a(href='proyectocp04') TELECOMUNICACIONES
                  li
                    a(href='proyectocp03') REDES DE DISTRIBUCION ELECTRICA
                  li
                    a(href='proyectocp09') AIRE ACONDICIONADO
                  li
                    a(href='proyectocp10') PUESTA A TIERRA  
                  li
                    a(href='proyectocp11') VIDEO VIGILANCIA  
                  li
                    a(href='proyectocp12') CAPACITACIONES    

            li.wrap
              a.btn-7(href='galeria')
                span GALERIA

            li.wrap
              a.btn-7(href='contact')
                span CONTACTO
        .clearfix
