.menu-footer
  .container
    //
      <div class="col-md-3">
      <img src="sites/all/themes/cadperu/img/logo_footer.png" class="logo-footer" />
      </div>
    .col-md-3
      .region.region-menu-footer-1
        section#block-menu-menu-menu-footer.block.block-menu.clearfix
          h2.block-title Nosotros
          ul.menu.nav
            li.first.leaf
              a(href='/') Institucional
            li.leaf
              a(href='/') Reconocimientos
            li.leaf
              a(href='/') Responsabilidad Social
            li.last.leaf
              a(href='/') Trabaja con nosotros
    .col-md-3
      .region.region-menu-footer-2
        section#block-menu-menu-programas-de-estudio.block.block-menu.clearfix
          h2.block-title Programas de Estudio
          ul.menu.nav
            li.first.leaf
              a(href='/') Cursos en Promoción
            li.last.leaf
              a(href='/', target='_blank') Aula Virtual
    .col-md-3
      .region.region-menu-footer-3
        section#block-menu-menu-servicios-in-company.block.block-menu.clearfix
          h2.block-title Servicios
          ul.menu.nav
            li.first.leaf
              a(href='/') Cursos 
            li.leaf
              a(href='/') Consultoría y Asesoria
            li.leaf
              a(href='/') Staff profesional
            li.leaf
              a(href='/') Clientes BRAINDTIC
            li.last.leaf
              a(href='/') Testimonios
    .col-md-3
      .region.region-menu-footer-4
        section#block-menu-menu-convenios.block.block-menu.clearfix
          h2.block-title Convenios
          ul.menu.nav
            li.first.leaf
              a(href='/')  Educativos
            li.leaf
              a(href='/convenios') Convenios de Cooperación
            li.leaf(style='font-weight: 700;')
              a(href='/') Blog BRAINDTIC
            li.last.leaf(style='background: #696969; border-bottom: 1px solid #696969; margin-left: -1rem; padding-left: 1rem; font-weight: 700;')
              a(href='') Intranet
