extends ../layout/home.pug

block view

  section.featured-img.text-center.about-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 Acerca de
            ul
              li
                a(href='index.html') Inicio
              li
                span -
              li
                span Nosotros
  // PAGE CONTENT START

  section.page-content
    .container.page-content-wrapper
      .row
        .col-sm-12
          p
           b
           | Somos una empresa peruana fundada en el año 2009, dedicandose al desarrollo y ejecucion de proyector de Ingenieria Electrica, Instalacion y Puesta en Servicio de Sistemas de Electricidad Industrial en Baja y Media Tension, Automatizacion de Procesos para la Instrumentacion de Control y Sistemas de Telecomunicaciones para la Industria en General.
  p
    |  
    .container.page-content-wrapper
      .row
        .col-sm-6
          .page-slider
            .simple-slider.owl-carousel
              img(src='assets/images/nosotros/esencia-1.jpg', alt='Nuestros Objectivos')

        .col-sm-6
          .inner-content.gallery
            h1 NUESTROS OBJETIVOS
            p
              | Consolidamos como la mejor empresa en Sistemas de Electricidad Industrial y Telecomunicaciones alcanzando en el corto tiempo nuestros planes estrategicos en el mercado. Brindando altos niveles de exelencia y satistaccion en valor agregado de nuestro producto y servicios que brindamos a nuestros clientes, estableciendo como base una relacion de confianza y transparencia.
          
  p
    |  <br/>
    |  <br/>
  .container.page-content-wrapper
    .row
      .col-sm-6
        .inner-content.gallery
          h1 MISION
          p
            | Brindar un servicio de calidad y exelencia, empleando la creatividad e innovacion tecnologica, teniendo como objetivo la mejora continua de nuestros procesos, el crcecimiento empresarial sostenible y el desarrollo profesional de sus colaboradores con la finalidad de lohgrar la completa satisfaccion de nuestros clientes por encima de sus espectativas.

          
      .col-sm-6
        .page-slider
          .simple-slider.owl-carousel
            img(src='assets/images/nosotros/esencia-3.jpg', alt='MISION')
  p
    |  <br/>
    |  <br/>
  .container.page-content-wrapper
    .row
      .col-sm-6
        .page-slider
          .simple-slider.owl-carousel
            img(src='assets/images/nosotros/esencia-2.jpg', alt='VISION')
            
      .col-sm-6
        .inner-content.gallery
          h1 VISION
          p
            | Ser una empresa lider en el segmento de negocios el cual desarrollamos y sr reconocidos por nuestra exigencia y compromiso con la calidad, seguridad, salud y medio ambiente.

  p
    |  <br/>
  // PAGE CONTENT END
  // ABOUT SECTION START
  section#about.section-wrapper.gray-background
    .container
      .row
        .col-lg-4.heding-wrapper.text-center.scale-less.animate-in
          span Los mejores precios,
          h2 SOMOS INTEGRADORES DE LA MARCA:
          span.spliter
          img(src='assets/images/schneider.png', alt='VISION')

        .col-lg-8.heding-wrapper.text-center.scale-less.animate-in
          h3 Politica de calidad, seguridad, salud y medio ambiente:
          iframe(src='assets/manual.pdf', frameborder='0', width='655', height='550', marginheight='0', marginwidth='0', id='pdf')

        
        
  

  // ABOUT SECTION END