extends ../layout/home.pug
block view

  // HEADER END
  section.featured-img.text-center.services-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 BLOG
            ul
              li
                a(href='index.html') Home
              li
                span -
              li
                span Blog
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-lg-12
          .blog-post-holder
            .detail-page-feature
              a(href='blog-detail.html')
                img(src='assets/images/inner-blog-1.jpeg', alt='services-detail-img')
            h2
              a(href='blog-detail.html') Integer Erat Libero, Molestie Et.
            div
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean...
            .meta
              span.meta-item.meta-date
                i.fa.fa-calendar
                |  18 May 2015
              span.meta-item.meta-author
                i.fa.fa-user
                a(rel='author', href='#') xlwproot
              span.meta-item.meta-category
                i.fa.fa-folder-open-o
                a(href='#') Blog
            a.btn.default(href='blog-detail.html') Read More
          .blog-post-holder
            .detail-page-feature
              a(href='blog-detail.html')
                img(src='assets/images/inner-blog-1.jpeg', alt='services-detail-img')
            h2
              a(href='blog-detail.html') Integer Erat Libero, Molestie Et.
            div
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean...
            .meta
              span.meta-item.meta-date
                i.fa.fa-calendar
                |  18 May 2015
              span.meta-item.meta-author
                i.fa.fa-user
                a(rel='author', href='#') xlwproot
              span.meta-item.meta-category
                i.fa.fa-folder-open-o
                a(href='#') Blog
            a.btn.default(href='blog-detail.html') Read More
          .blog-post-holder
            .detail-page-feature
              a(href='blog-detail.html')
                img(src='assets/images/inner-blog-1.jpeg', alt='services-detail-img')
            h2
              a(href='blog-detail.html') Integer Erat Libero, Molestie Et.
            div
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean...
            .meta
              span.meta-item.meta-date
                i.fa.fa-calendar
                |  18 May 2015
              span.meta-item.meta-author
                i.fa.fa-user
                a(rel='author', href='#') xlwproot
              span.meta-item.meta-category
                i.fa.fa-folder-open-o
                a(href='#') Blog
            a.btn.default(href='blog-detail.html') Read More
          .blog-post-holder
            .detail-page-feature
              a(href='blog-detail.html')
                img(src='assets/images/inner-blog-1.jpeg', alt='services-detail-img')
            h2
              a(href='blog-detail.html') Integer Erat Libero, Molestie Et.
            div
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean...
            .meta
              span.meta-item.meta-date
                i.fa.fa-calendar
                |  18 May 2015
              span.meta-item.meta-author
                i.fa.fa-user
                a(rel='author', href='#') xlwproot
              span.meta-item.meta-category
                i.fa.fa-folder-open-o
                a(href='#') Blog
            a.btn.default(href='blog-detail.html') Read More
          .blog-post-holder
            .detail-page-feature
              a(href='blog-detail.html')
                img(src='assets/images/inner-blog-1.jpeg', alt='services-detail-img')
            h2
              a(href='blog-detail.html') Integer Erat Libero, Molestie Et.
            div
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean...
            .meta
              span.meta-item.meta-date
                i.fa.fa-calendar
                |  18 May 2015
              span.meta-item.meta-author
                i.fa.fa-user
                a(rel='author', href='#') xlwproot
              span.meta-item.meta-category
                i.fa.fa-folder-open-o
                a(href='#') Blog
            a.btn.default(href='blog-detail.html') Read More
          .pagination
            ul
              li
                a(href='#') Last
              li
                a(href='#') Pervious
              li
                a(href='#') 1
              li
                span 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#') 6
              li
                a(href='#') Next
              li
                a(href='#') Last
  // PAGE CONTENT END
