extends ../layout/home.pug

block view

  // HEADER END
  section.featured-img.text-center.contact-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 CONTACTANOS
            ul
              li
                a(href='index.html') Inicio
              li
                span -
              li
                span Contacto
  // PAGE CONTENT START
  section.page-content.contact-wrapper
    .container.page-content-wrapper
      .row.contact-holder
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.contact-detail.col-md-push-8
          .heding-wrapper.text-left.contact-page-ops
            span.heading-spn Contacto:
            span.spliter
          .detail-holder.table
            .table-row
              .left-detail.table-cell.align-middle
                span.scale-big.animate-in
                  i.fa.fa-map-marker
                .clearfix
                span.small-spliter.animate-in.spliter
              .right-detail.table-cell.align-middle
                span Cal.Coronel Miguel Rios N°1794 - Urb:Cata, Lima, Lima. 
          .detail-holder.table
            .table-row
              .left-detail.table-cell.align-middle
                span.scale-big.animate-in
                  i.fa.fa-envelope-o
                .clearfix
                span.small-spliter.animate-in.spliter
              .right-detail.table-cell.align-middle
                span
                  a(href='mailto:info@ingenieriamvd.com') info@ingenieriamvd.com
                  br
                  a(href='mailto:info@ingenieriamvd.com') info@ingenieriamvd.com
          .detail-holder.table
            .table-row
              .left-detail.table-cell.align-middle
                span.scale-big.animate-in
                  i.fa.fa-phone
                .clearfix
                span.small-spliter.animate-in.spliter
              .right-detail.table-cell.align-middle
                span
                  | (+51) 961 950 018
                  br
                  | 								(01)  528 4005
          // MAP SECTION START
          section.map-container
            #map-canvas
          // MAP SECTION END
        .col-lg-8.col-md-8.col-sm-12.col-xs-12.col-md-pull-4
          .row
            .col-md-9
              p
                | Para obtener más información acerca de nuestros servicios, consultas de marketing y ventas, por favor deja un mensaje y te responderemos  tan pronto como sea posible.
                | (01) 52 84005

          form(action="addMessage", method="post")
            div.form-group
              label Nombres y Apellidos *
              input.form-control(type='text', name='name', required='')
            div.form-group
              label Email *
              input.form-control(type='email', name='email', required='')
            div.form-group
              label Mensaje *
              textarea.form-control(name='message', required='')
            div.form-group
              button.btn(type='submit', value='Enviar') Enviar
  // PAGE CONTENT END