extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.portfolio-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 Galeria
            ul
              li
                a(href='index.html') inicio
              li
                span -
              li
                span Fotos
  // PAGE CONTENT START
  section.page-content
    .container.page-content-wrapper
      .row
        .col-lg-12
          .portfolio-wrapper
            .portfolio-list.grid
              .item.web
                .portfolio-holder.scale-big.animate-in
                  figure.imghvr-shutter-out-vert
                    img.img-responsive(src='assets/images/galeria/1.jpg', alt='portfolio-img')
                    figcaption
                      .table
                        .table-row
                          .table-cell.text-center.align-middle
                            .subtitle Lorem Ipsum
                            .title development
                            .description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            a.btn.transparent.mt20(href='portfolio-detail.html') Detailed
                            a.lightbox(data-lightbox='1', href='assets/images/galeria/1.jpg')
                              i.fa.fa-plus
              .item.web
                .portfolio-holder.scale-big.animate-in
                  figure.imghvr-shutter-out-vert
                    img.img-responsive(src='assets/images/galeria/2.jpg', alt='portfolio-img')
                    figcaption
                      .table
                        .table-row
                          .table-cell.text-center.align-middle
                            .subtitle Lorem Ipsum
                            .title development
                            .description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            a.btn.transparent.mt20(href='portfolio-detail.html') Detailed
                            a.lightbox(data-lightbox='2', href='assets/images/galeria/2.jpg')
                              i.fa.fa-plus
              .item.photos
                .portfolio-holder.scale-big.animate-in
                  figure.imghvr-shutter-out-vert
                    img.img-responsive(src='assets/images/galeria/3.jpg', alt='portfolio-img')
                    figcaption
                      .table
                        .table-row
                          .table-cell.text-center.align-middle
                            .subtitle Lorem Ipsum
                            .title development
                            .description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            a.btn.transparent.mt20(href='portfolio-detail.html') Detailed
                            a.lightbox(data-lightbox='3', href='assets/images/galeria/3.jpg')
                              i.fa.fa-plus
              .item.print
                .portfolio-holder.scale-big.animate-in
                  figure.imghvr-shutter-out-vert
                    img.img-responsive(src='assets/images/galeria/4.jpg', alt='portfolio-img')
                    figcaption
                      .table
                        .table-row
                          .table-cell.text-center.align-middle
                            .subtitle Lorem Ipsum
                            .title development
                            .description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            a.btn.transparent.mt20(href='portfolio-detail.html') Detailed
                            a.lightbox(data-lightbox='4', href='assets/images/galeria/4.jpg')
                              i.fa.fa-plus
  // PAGE CONTENT END
  // TESTIMONIALS SECTION START
 
