extends ../layout/home.pug

block view
  // HEADER END
  section.rider-slider
    // Nextend Smart Slider 3 #10 - BEGIN
    #n2-ss-10-align.n2-ss-align
      .n2-padding
        #n2-ss-10.n2-ss-slider.n2-ow.n2-has-hover.n2notransition.n2-ss-load-fade(data-minfontsizedesktopportrait='1', data-minfontsizedesktoplandscape='1', data-minfontsizetabletportrait='1', data-minfontsizetabletlandscape='1', data-minfontsizemobileportrait='1', data-minfontsizemobilelandscape='1', style='font-size: 16px;', data-fontsize='16')
          .n2-ss-slider-1.n2-ss-swipe-element.n2-ow(style='')
            .n2-ss-slider-2.n2-ow
              .n2-ss-slider-3.n2-ow(style='')
                .n2-ss-slide-backgrounds
                .n2-ss-slide.n2-ss-canvas.n2-ow.n2-ss-slide-42(data-first='1', data-slide-duration='0', data-id='42', style='')
                  .n2-ss-slide-background.n2-ow(data-hash='f8ea37ea2bfd660ff66857e9c2170aef', data-desktop='assets/slider/images/slide-1.jpg', data-opacity='1', data-blur='0', data-mode='fill', data-x='50', data-y='50')
                    .n2-ss-slide-background-mask(style='')
                      img(title='', src='assets/slider/images/slide-1.jpg', alt='')
                  .n2-ss-layers-container.n2-ow(data-csstextalign='center', style='')
                    .n2-ss-section-outer(style='')
                      .n2-ss-layer.n2-ow(style='overflow:;', data-csstextalign='inherit', data-desktopportraitmaxwidth='0', data-cssselfalign='inherit', data-desktopportraitselfalign='inherit', data-pm='content', data-desktopportraitpadding='10|*|10|*|10|*|10|*|px+', data-desktopportraitinneralign='inherit', data-type='content', data-rotation='0', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-plugin='rendered')
                        .n2-ss-section-main-content.n2-ss-layer-content.n2-ow(style='padding:0.625em 0.625em 0.625em 0.625em ;', data-verticalalign='center')
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='3|*|3|*|3|*|3|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='center', data-desktopportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IkJsdXIiLCJvcGFjaXR5IjowLCJuMmJsdXIiOjEwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='center', data-desktopportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IkJsdXIiLCJkZWxheSI6MC4xLCJvcGFjaXR5IjowLCJuMmJsdXIiOjEwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='70', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-c319e220a536eb99afa661220e983b9d-paragraph.n2-ow ELECTRICIDAD
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='center', data-desktopportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IkJsdXIiLCJkZWxheSI6MC4yLCJvcGFjaXR5IjowLCJuMmJsdXIiOjEwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-5dc942040c26e95701171406b7db0c1a-paragraph.n2-ow Soluciones en Electricidad
                          
                          
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='center', data-desktopportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IkJsdXIiLCJkZWxheSI6MC41LCJvcGFjaXR5IjowLCJuMmJsdXIiOjEwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='0', data-desktopportraitfontsize='100', data-plugin='rendered')
                            .n2-ss-button-container.n2-ow.n2-font-13ab1dc09f48e0951d33464923c1b704-link.n2-ss-nowrap
                              a.n2-style-6e7e81a6399b8836419afd9a49b7b3e2-heading.n2-ow(onclick='return false;', href='solutions-electricity')
                                span
                                  span Ver mas
                .n2-ss-slide.n2-ss-canvas.n2-ow.n2-ss-slide-44(data-slide-duration='0', data-id='44', style='')
                  .n2-ss-slide-background.n2-ow(data-hash='af60735f9e3b09bc4f2d9b74c5182f31', data-desktop='assets/slider/images/slide-2.jpg', data-opacity='1', data-blur='0', data-mode='fill', data-x='50', data-y='50')
                    .n2-ss-slide-background-mask(style='')
                      img(title='', src='assets/slider/images/slide-2.jpg', alt='')
                  .n2-ss-layers-container.n2-ow(data-csstextalign='center', style='')
                    .n2-ss-section-outer(style='')
                      .n2-ss-layer.n2-ow.n2-ss-has-maxwidth(style='max-width: 1140px;overflow:;', data-csstextalign='inherit', data-desktopportraitmaxwidth='1140', data-tabletportraitmaxwidth='0', data-mobileportraitmaxwidth='0', data-cssselfalign='inherit', data-desktopportraitselfalign='inherit', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-pm='content', data-desktopportraitpadding='10|*|5|*|10|*|5|*|px+', data-tabletportraitpadding='10|*|5|*|10|*|5|*|px+', data-mobileportraitpadding='40|*|0|*|40|*|0|*|px+', data-desktopportraitinneralign='inherit', data-tabletportraitinneralign='left', data-mobileportraitinneralign='inherit', data-type='content', data-rotation='0', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-plugin='rendered')
                        .n2-ss-section-main-content.n2-ss-layer-content.n2-ow(style='padding:0.625em 0.3125em 0.625em 0.3125em ;', data-verticalalign='center')
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsIm9wYWNpdHkiOjAsIngiOi00MDB9XX0=', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-e26f9fc0e4aacb0192eeeef97f36705d-paragraph.n2-ow 
                          .n2-ss-layer.n2-ow(style='margin:0.234375em 0.234375em 0.234375em 0.234375em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsImRlbGF5IjowLjE1LCJvcGFjaXR5IjowLCJ4IjotNDAwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='80', data-mobileportraitfontsize='70', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-aa1ba26b83562056399325c10147b659-paragraph.n2-ow 
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsImRlbGF5IjowLjMsIm9wYWNpdHkiOjAsIngiOi00MDB9XX0=', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='70', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-d71adf8a9c102589b064fa239972a143-paragraph.n2-ow TELECOMUNICACIONES
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IlJpZ2h0IGZhZGUiLCJkZWxheSI6MC40NSwib3BhY2l0eSI6MCwieCI6LTQwMH1dfQ==', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-e26f9fc0e4aacb0192eeeef97f36705d-paragraph.n2-ow Proyectos en Telecomunicaciones
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IlJpZ2h0IGZhZGUiLCJkZWxheSI6MC41LCJvcGFjaXR5IjowLCJ4IjotNDAwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='0', data-desktopportraitfontsize='100', data-plugin='rendered')
                            .n2-ss-button-container.n2-ow.n2-font-2ef065763e81746d53de289375cb8532-link.n2-ss-nowrap
                              a.n2-style-bfd939fac37975aea40e94c2b59db6f6-heading.n2-ow(onclick='return false;', href='solutions-teleco')
                                span
                                  span Ver mas
                
            #n2-ss-10-arrow-previous.n2-ss-widget.n2-ss-widget-display-desktop.n2-ss-widget-display-tablet.n2-ss-widget-display-mobile.nextend-arrow.n2-ib.n2-ow.nextend-arrow-previous.nextend-arrow-animated-fade(data-ssleft='0+15', data-sstop='height/2-previousheight/2', style='position: absolute;', role='button', aria-label='Previous slide', tabindex='0')
              img.n2-ow(data-no-lazy='1', data-hack='data-lazy-src', src='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTEuNDMzIDE1Ljk5MkwyMi42OSA1LjcxMmMuMzkzLS4zOS4zOTMtMS4wMyAwLTEuNDItLjM5My0uMzktMS4wMy0uMzktMS40MjMgMGwtMTEuOTggMTAuOTRjLS4yMS4yMS0uMy40OS0uMjg1Ljc2LS4wMTUuMjguMDc1LjU2LjI4NC43N2wxMS45OCAxMC45NGMuMzkzLjM5IDEuMDMuMzkgMS40MjQgMCAuMzkzLS40LjM5My0xLjAzIDAtMS40MmwtMTEuMjU3LTEwLjI5IiBmaWxsPSIjZmZmZmZmIiBvcGFjaXR5PSIwLjgiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==', alt='Arrow')
            #n2-ss-10-arrow-next.n2-ss-widget.n2-ss-widget-display-desktop.n2-ss-widget-display-tablet.n2-ss-widget-display-mobile.nextend-arrow.n2-ib.n2-ow.nextend-arrow-next.nextend-arrow-animated-fade(data-ssright='0+15', data-sstop='height/2-nextheight/2', style='position: absolute;', role='button', aria-label='Next slide', tabindex='0')
              img.n2-ow(data-no-lazy='1', data-hack='data-lazy-src', src='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuNzIyIDQuMjkzYy0uMzk0LS4zOS0xLjAzMi0uMzktMS40MjcgMC0uMzkzLjM5LS4zOTMgMS4wMyAwIDEuNDJsMTEuMjgzIDEwLjI4LTExLjI4MyAxMC4yOWMtLjM5My4zOS0uMzkzIDEuMDIgMCAxLjQyLjM5NS4zOSAxLjAzMy4zOSAxLjQyNyAwbDEyLjAwNy0xMC45NGMuMjEtLjIxLjMtLjQ5LjI4NC0uNzcuMDE0LS4yNy0uMDc2LS41NS0uMjg2LS43NkwxMC43MiA0LjI5M3oiIGZpbGw9IiNmZmZmZmYiIG9wYWNpdHk9IjAuOCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+', alt='Arrow')
        .n2-clear
        #n2-ss-10-spinner(style='display: none;')
          div
            .n2-ss-spinner-simple-white-container
              .n2-ss-spinner-simple-white
    #n2-ss-10-placeholder(style='position: relative;z-index:2;')
      img.n2-ow(style='width: 100%; max-width:3000px; display: block;', src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMCIgd2lkdGg9IjE5MjAiIGhlaWdodD0iNzAwIiA+PC9zdmc+', alt='Slider')
    // Nextend Smart Slider 3 #10 - END
    // HEADER END
    // ABOUT SECTION START
  //section#about.section-wrapper
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span CREATIVE WEB TEMPLATE
          h2 About One Solution
          span.spliter
      .row
        .col-md-8.col-md-offset-2.col-sm-12.move-up.animate-in.text-center
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at justo tristique, tempor sagittis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sit amet ligula consequat urna posuere convallis.Cras porta dolor ut velit imperdiet, quis sodales tellus facilisis. Vestibulum magna turpis, tincidun blandit semper lorem.
    .view-all.pt20.text-center
      a.btn.default.p10-50.scroll(href='#contact') CONTACT US
      a.btn.light.p10-50.border-1.scroll(href='#portfolio') SEE OUR WORK
  // HEADER END


  // FEATURES SECTION START
  //section.web-features.section-wrapper
    // Start all features website
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span OLI BOLI
          h2 Our Features
          span.spliter
      .row
        .col-lg-4.col-sm-6.col-xs-12.icon-box
          a(href='#')
            .box-heding.icon-center
              span.about-section-icons
                i.fa.fa-desktop
              .h3 Responsive Design
              span.spliter
              .mb10
                | Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam
        .col-lg-4.col-sm-6.col-xs-12.icon-box
          a(href='#')
            .box-heding.icon-center
              span.about-section-icons
                i.fa.fa-thumbs-o-up
              .h3 Cross-Browser
              span.spliter
              .mb10
                | Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam
        .col-lg-4.col-sm-6.col-xs-12.icon-box
          a(href='#')
            .box-heding.icon-center
              span.about-section-icons
                i.fa.fa-lightbulb-o
              .h3 Creative Design
              span.spliter
              .mb10
                | Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam
        .col-lg-4.col-sm-6.col-xs-12.icon-box
          a(href='#')
            .box-heding.icon-center
              span.about-section-icons
                i.fa.fa-gift
              .h3 Bootstrap 3.1
              span.spliter
              .mb10
                | Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam
        .col-lg-4.col-sm-6.col-xs-12.icon-box
          a(href='#')
            .box-heding.icon-center
              span.about-section-icons
                i.fa.fa-pencil-square-o
              .h3 100 Icon Fonts
              span.spliter
              .mb10
                | Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam
        .col-lg-4.col-sm-6.col-xs-12.icon-box
          a(href='#')
            .box-heding.icon-center
              span.about-section-icons
                i.fa.fa-wrench
              .h3 More Features
              span.spliter
              .mb10
                | Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam
  // End all features website here
  // Start responsive banner here
  //section.responsive-banner.section-wrapper
    .container
      .row.flex.block-768
        .w50p.pl15.pr15.flex.jd-column.jc-center.block-768.w100p-768
          .heding-wrapper.text-left.scale-less.animate-in.red-banner
            span SPECIALISED IN
            h2 OUR DIGITAL EXPERENCES
            span.spliter
          .accordion.panel-group
            .panel.panel-default
              .panel-heading
                .panel-title
                  a.side-arrow(href='#collapseOne', data-parent='.accordion', data-toggle='collapse')
                    i.fa.fa-trophy
                    | AWARD WINNING?
              #collapseOne.panel-collapse.collapse.in
                .panel-body
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                  strong quis nostrud exercitation ullamco
                  |  laboris nisi ut aliquip ex ea commodo consequat.
            .panel.panel-default
              .panel-heading
                .panel-title
                  a(href='#collapseTwo', data-parent='.accordion', data-toggle='collapse')
                    i.fa.fa-umbrella
                    |  WHAT WE DO?
              #collapseTwo.panel-collapse.collapse
                .panel-body
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                  strong quis nostrud exercitation ullamco
                  |  laboris nisi ut aliquip ex ea commodo consequat.
            .panel.panel-default
              .panel-heading
                .panel-title
                  a(href='#collapseThree', data-parent='.accordion', data-toggle='collapse')
                    i.fa.fa-rocket
                    | WHY CHOOSE US?
              #collapseThree.panel-collapse.collapse
                .panel-body
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                  strong quis nostrud exercitation ullamco
                  |  laboris nisi ut aliquip ex ea commodo consequat.
            .text-left.pt20
              a.btn.light.p10-50(href='#') READ MORE ABOUT US
        .w50p.pl15.pr15.flex.jd-column.jc-center.block-768.w100p-768
          figure
            img.img-responsive.mt40.mb40(src='assets/images/group-device.png', alt='group-device')
  // responsive banner END
  // Start all features website
  //section.web-featuers.section-wrapper
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span WE ARE UNIQUE
          h2 Our Achievements
          span.spliter
      .row
        .col-sm-6.icon-box
          a(href='#')
            .row.text-left.p10
              .col-md-2.col-sm-12.feature-icon
                i.fa.fa-desktop
              .col-md-10.col-sm-12.feature-text
                .title Responsive Design
                .mb10
                  | Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam
        .col-sm-6.icon-box
          a(href='#')
            .row.text-left.p10
              .col-md-2.col-sm-12.feature-icon
                i.fa.fa-thumbs-o-up
              .col-md-10.col-sm-12.feature-text
                .title Cross-Browser
                .mb10
                  | Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam
        .col-sm-6.icon-box
          a(href='#')
            .row.text-left.p10
              .col-md-2.col-sm-12.feature-icon
                i.fa.fa-lightbulb-o
              .col-md-10.col-sm-12.feature-text
                .title Creative Design
                .mb10
                  | Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam
        .col-sm-6.icon-box
          a(href='#')
            .row.text-left.p10
              .col-md-2.col-sm-12.feature-icon
                i.fa.fa-gift
              .col-md-10.col-sm-12.feature-text
                .title Bootstrap 3.1
                .mb10
                  | Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam
        .col-sm-6.icon-box
          a(href='#')
            .row.text-left.p10
              .col-md-2.col-sm-12.feature-icon
                i.fa.fa-pencil-square-o
              .col-md-10.col-sm-12.feature-text
                .title 100 Icon Fonts
                .mb10
                  | Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam
        .col-sm-6.icon-box
          a(href='#')
            .row.text-left.p10
              .col-md-2.col-sm-12.feature-icon
                i.fa.fa-wrench
              .col-md-10.col-sm-12.feature-text
                .title More Features
                .mb10
                  | Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam
  // End all features website here
  // SERVICES SECTION START
  section#services.section-wrapper.gray-background
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span SERVICIOS
          h2 NUESTROS SERVICIOS
          span.spliter
      ul.row.services-container
        li.col-lg-4.col-md-4.col-sm-6.col-xs-12
          figure.imghvr-shutter-out-horiz
            img.img-responsive(src='assets/images/servicios/12.jpg', alt='service1')
            figcaption.info
              .table
                .table-row
                  .table-cell.text-center.align-middle
                    .subtitle
                    .title ELECTRICIDAD
                    .description Diseño, ingeniería, instalacion, pruebas y puesta en servicio de los sitemas de media tension (transformadores y electro ductos).
                    a.btn.transparent.mt20(href='solutions-electricity') Ves Mas
        li.col-lg-4.col-md-4.col-sm-6.col-xs-12
          figure.imghvr-shutter-out-horiz
            img.img-responsive(src='assets/images/servicios/15.jpg', alt='service2')
            figcaption.info
              .table
                .table-row
                  .table-cell.text-center.align-middle
                    .subtitle
                    .title AUTOMATIZACION
                    .description Diseño, ingeniería, instalacion, pruebas y puesta en servicio de los sitemas de media tension (transformadores y electro ductos).
                    a.btn.transparent.mt20(href='solutions-control') Ves Mas
        li.col-lg-4.col-md-4.col-sm-6.col-xs-12
          figure.imghvr-shutter-out-horiz
            img.img-responsive(src='assets/images/servicios/12.jpg', alt='service3')
            figcaption.info
              .table
                .table-row
                  .table-cell.text-center.align-middle
                    .subtitle 
                    .title TELECOMUNICACIONES
                    .description Diseño, ingeniería, instalacion, pruebas y puesta en servicio de los sitemas de media tension (transformadores y electro ductos).
                    a.btn.transparent.mt20(href='solutions-teleco') Ves Mas
        li.col-lg-4.col-md-4.col-sm-6.col-xs-12
          figure.imghvr-shutter-out-horiz
            img.img-responsive(src='assets/images/servicios/14.jpg', alt='service4')
            figcaption.info
              .table
                .table-row
                  .table-cell.text-center.align-middle
                    .subtitle 
                    .title SANEAMIENTO
                    .description Diseño, ingeniería, instalacion, pruebas y puesta en servicio de los sitemas de media tension (transformadores y electro ductos).
                    a.btn.transparent.mt20(href='solutions-sanea') Ves Mas
        
  // SERVICES SECTION END
  // SPECILIZE SECTION START
  //section.section-wrapper
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span SPECIALISED IN
          h2 Our Expertise
          span.spliter
      .row
        .col-lg-12.specilize-wrapper.text-center
          .h6
            | Consectetur adipiscing elit. Fusce nisi enim, Vulputate at Justo tristique, Tempor Sagittis Dolor.
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            strong quis no strud exercitation ullamco
            |  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  // SPECILIZE SECTION END
  // CAREERS SECTION START
  //section#careers.section-wrapper.gray-background
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span Interesting About Us
          h2 Careers
          span.spliter
      .row
        .col-lg-12
          #careers-slider.careers-wrapper.owl-carousel.owl-theme
            .col-careers
              h3.uppercase.text-center.mb40 IT Support Officer
              table
                tbody
                  tr
                    th Location:
                    td(data-label='Location')
                      ul
                        li Beef pastrami landjaeger sausage pork belly ball tip
                  tr
                    th Salary:
                    td(data-label='Salary')
                      ul
                        li Beef ribs bacon ground round pork, porchetta landjaeger venison
                  tr
                    th Technical skills required:
                    td(data-label='Technical skills required')
                      ul
                        li Jerky shoulder ball tip capicola pork belly tenderloin brisket salami t-bone
                        li Pork jerky turducken fatback pork loin
                        li Meatloaf beef biltong, ground round meatball pork loin kielbasa
                  tr
                    th Qualification:
                    td(data-label='Qualification')
                      ul
                        li T-bone chicken sausage, kevin spare ribs tenderloin cow ball tip rump
                        li Corned beef kielbasa salami pastrami turkey pork loin chicken kielbasa
                        li Pancetta picanha spare ribs cow corned beef alcatra capicola brisket porchetta
                        li Venison pork chop sausage pancetta turducken shoulder tail
                  tr
                    th Responsibilities:
                    td(data-label='Responsibilities')
                      ul
                        li
                          | Kevin filet mignon ribeye porchetta, boudin tri-tip beef ribs brisket flank landjaeger
                        li Corned beef kielbasa salami pastrami turkey pork loin chicken kielbasa
                        li Pancetta picanha spare ribs cow corned beef alcatra capicola brisket porchetta
                        li Venison pork chop sausage pancetta turducken shoulder tail
                        li
                          | Turkey short ribs boudin tongue prosciutto biltong salami shoulder shankle flank pig
            .col-careers
              h3.uppercase.text-center.mb40 Software Developer
              table
                tbody
                  tr
                    th Location:
                    td(data-label='Location')
                      ul
                        li Beef pastrami landjaeger sausage pork belly ball tip
                  tr
                    th Salary:
                    td(data-label='Salary')
                      ul
                        li Beef ribs bacon ground round pork, porchetta landjaeger venison
                  tr
                    th Technical skills required:
                    td(data-label='Technical skills required')
                      ul
                        li Jerky shoulder ball tip capicola pork belly tenderloin brisket salami t-bone
                        li Pork jerky turducken fatback pork loin
                        li Meatloaf beef biltong, ground round meatball pork loin kielbasa
                  tr
                    th Qualification:
                    td(data-label='Qualification')
                      ul
                        li T-bone chicken sausage, kevin spare ribs tenderloin cow ball tip rump
                        li Corned beef kielbasa salami pastrami turkey pork loin chicken kielbasa
                        li Pancetta picanha spare ribs cow corned beef alcatra capicola brisket porchetta
                        li Venison pork chop sausage pancetta turducken shoulder tail
  // CAREERS SECTION END
  // TABS SECTION START
  //section.section-wrapper.theme-background
    .container
      .row
        .col-lg-12
          .adds.text-center
            ul.nav.nav-tabs
              li.active
                a(href='#award-winning') AWARD WINNING
              li
                a(href='#what-we-do') WHAT WE DO
              li
                a(href='#why-choose-us') WHY CHOOSE US
            .tab-content
              #award-winning.tab-pane.fade.in.active
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                strong  quis nostrud exercitation ullamco
                |  laboris nisi ut aliquip ex ea commodo consequat.
              #what-we-do.tab-pane.fade
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                strong  quis nostrud exercitation ullamco
                |  laboris nisi ut aliquip ex ea commodo consequat.
              #why-choose-us.tab-pane.fade
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                strong  quis nostrud exercitation ullamco
                |  laboris nisi ut aliquip ex ea commodo consequat.
  // TABS SECTION END
  // PORTFOLIO SECTION START
  // PORTFOLIO SECTION END
  // TEAM SECTION START
  //section#team.section-wrapper
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span WE ARE EXPERT
          h2 Meet Our Team
          span.spliter
      .row
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-1.jpg', alt='team-img')
            .name L. Frank Baum
            .position Co-Founde
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-2.jpg', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-3.jpg', alt='team-img')
            .name Lewis Carroll
            .position Photographer
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-4.jpg', alt='team-img')
            .name Jules Verne
            .position SEO Expert
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
  // TEAM SECTION END
  // TESTIMONIALS SECTION START
  //section
    .testimonial-wrapper.parallax(data-stellar-background-ratio='0.1', style='background-image: url(assets/images/testimonial-bg.jpg);')
      .overlay
        .container
          .row
            .testimonial-slider.owl-carousel.owl-theme.col-md-8.col-sm-12
              .item
                .avatar
                  .author
                    img(src='assets/images/testimonial-1.jpg', alt='avatar', width='70', height='70')
                .testimonial-content
                  .name JACK LONDON
                  .job Graphic Designer
                  span.spliter
                  div
                    | "Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.
              .item
                .avatar
                  .author
                    img(src='assets/images/testimonial-1.jpg', alt='avatar', width='70', height='70')
                .testimonial-content
                  .name JACK LONDON
                  .job Graphic Designer
                  span.spliter
                  div
                    | "Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.
              .item
                .avatar
                  .author
                    img(src='assets/images/testimonial-1.jpg', alt='avatar', width='70', height='70')
                .testimonial-content
                  .name JACK LONDON
                  .job Graphic Designer
                  span.spliter
                  div
                    | "Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.
  // TESTIMONIALS SECTION END
  // PRICE SECTION START
  //section#price.section-wrapper.gray-background
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span PRICES
          h2 Plans and Packages
          span.spliter
      .row.price-wrapper.text-center
        .col-lg-4.col-md-4.col-sm-12
          .price-holder.heding-wrapper.text-center.scale-less.animate-in
            .name BASIC
            .price $35
            span.spliter
            ul
              li Lorem Ipsum is simply dummy
              li Text of the printing and
              li Typesetting industry. Lorem
              li Ipsum has been the industry's
              li Standard dummy text ever since
            a.btn.light.border-1.p10-50(href='#') Get a Quote!
        .col-lg-4.col-md-4.col-sm-12
          .price-holder.heding-wrapper.text-center.scale-less.animate-in
            .name POPULAR
            .price $75
            span.spliter
            ul
              li Lorem Ipsum is simply dummy
              li Text of the printing and
              li Typesetting industry. Lorem
              li Ipsum has been the industry's
              li Standard dummy text ever since
            a.btn.light.border-1.p10-50(href='#') Get a Quote!
        .col-lg-4.col-md-4.col-sm-12
          .price-holder.heding-wrapper.text-center.scale-less.animate-in
            .name PREMIER
            .price $95
            span.spliter
            ul
              li Lorem Ipsum is simply dummy
              li Text of the printing and
              li Typesetting industry. Lorem
              li Ipsum has been the industry's
              li Standard dummy text ever since
            a.btn.light.border-1.p10-50(href='#') Get a Quote!
  // PRICE SECTION END
  // BLOG SECTION START
  //  section#blog.section-wrapper
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span LATEST STORIES
          h2 From Our Blog
          span.spliter
      .row.blog-wrapper
        .col-lg-4.col-md-4.col-sm-6.col-xs-12
          .blog-content.scale-big.animate-in.blog-box
            .img-holder
              figure.imghvr-fade
                img.img-responsive(src='assets/images/blog-1.jpg', alt='blog-img')
                figcaption
                  .table.height-100p
                    .table-row
                      .table-cell.align-middle.text-center
                        .author.text-center
                          a(href='#')
                            span
                              i.fa.fa-video-camera
                          .author-link
                            i.fa.fa-user
                            |  by 
                            a(href='#') Jason Rider
            .blog-ceontent-holder
              .title
                a(href='#') Integer Erat Libero, Molestie Et.
              .description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate
            .meta
              span.date
                i.fa.fa-calendar
                |  14 march 2015
              span.comments
                i.fa.fa-comment
                |  4
            .clearfix
        .col-lg-4.col-md-4.col-sm-6.col-xs-12
          .blog-content.scale-big.animate-in.blog-box
            .img-holder
              figure.imghvr-fade
                img.img-responsive(src='assets/images/blog-2.jpg', alt='blog-img')
                figcaption
                  .table.height-100p
                    .table-row
                      .table-cell.align-middle.text-center
                        .author.text-center
                          a(href='#')
                            span
                              i.fa.fa-picture-o
                          .author-link
                            i.fa.fa-user
                            |  by 
                            a(href='#') Jason Rider
            .blog-ceontent-holder
              .title
                a(href='#') Integer Erat Libero, Molestie Et.
              .description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate
            .meta
              span.date
                i.fa.fa-calendar
                |  14 march 2015
              span.comments
                i.fa.fa-comment
                |  4
            .clearfix
        .col-lg-4.col-md-4.col-sm-6.col-xs-12
          .blog-content.scale-big.animate-in.blog-box
            .img-holder
              figure.imghvr-fade
                img.img-responsive(src='assets/images/blog-3.jpg', alt='blog-img')
                figcaption
                  .table.height-100p
                    .table-row
                      .table-cell.align-middle.text-center
                        .author.text-center
                          a(href='#')
                            span
                              i.fa.fa-volume-up
                          .author-link
                            i.fa.fa-user
                            |  by 
                            a(href='#') Jason Rider
            .blog-ceontent-holder
              .title
                a(href='#') Integer Erat Libero, Molestie Et.
              .description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate
            .meta
              span.date
                i.fa.fa-calendar
                |  14 march 2015
              span.comments
                i.fa.fa-comment
                |  4
            .clearfix
  // BLOG SECTION END
  // CLIENT SECTION START
  //section#client.section-wrapper.gray-background.pb60
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span HAPPY TO SERVE
          h2 Our Clients
          span.spliter
      .row
        .col-lg-12
          #client-slider.client-wrapper.owl-carousel.owl-theme
            .col-clients
              a(href='#')
                img.img-responsive(src='assets/images/client-1.jpg', alt='client-img')
            .col-clients
              a(href='#')
                img.img-responsive(src='assets/images/client-2.jpg', alt='client-img')
            .col-clients
              a(href='#')
                img.img-responsive(src='assets/images/client-3.jpg', alt='client-img')
            .col-clients
              a(href='#')
                img.img-responsive(src='assets/images/client-4.jpg', alt='client-img')
  // CLIENT SECTION END
  // CONTACT SECTION START

    section#portfolio.section-wrapper.gray-background.pb60
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span Clientes
          h2 NUESTROS CLIENTES
          span.spliter
    .portfolio-wrapper
      .portfolio-list.grid
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/ABB.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle  
                      .title ABB
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/ALLEN_BRADLEY.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title ALLEN BRADLEY
        .item.photos
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/SIEMENS.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title SIEMENS
        .item.print
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/RITTAL.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .title RITTAL
                      .description 
                      
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/ROCKWELL.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title ROCKWELL
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/schneider.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title SCHNEIDER

    .clearfix
  section#portfolio.section-wrapper.gray-background.pb60
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span Marcas
          h2 SOLUCIONES EN MARCAS
          span.spliter
    .portfolio-wrapper
      .portfolio-list.grid
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/ABB.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle  
                      .title ABB
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/ALLEN_BRADLEY.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title ALLEN BRADLEY
        .item.photos
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/SIEMENS.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title SIEMENS
        .item.print
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/RITTAL.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .title RITTAL
                      .description 
                      
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/ROCKWELL.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title ROCKWELL
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/schneider.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title SCHNEIDER

    .clearfix
  section#contact.section-wrapper.contact-background.parallax(data-stellar-background-ratio='0.1', style='background-image: url(assets/images/contact-bg.jpg);')
    .overlay
      .container
        .row
          .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
            
            h2 CONTACTANOS
            span.spliter
        .row
          .col-lg-4.col-md-5.col-sm-5.col-xs-12.col-sm-push-7
            .contact-holder
              .detail-holder.table
                .table-row
                  .left-detail.table-cell.align-middle
                    span.scale-big.animate-in
                      i.fa.fa-map-marker
                    .clearfix
                    span.small-spliter.animate-in.spliter
                  .right-detail.table-cell.align-middle
                    span  Cal.Coronel Miguel Rios N°1794 - Urb:Cata
              .detail-holder.table
                .table-row
                  .left-detail.table-cell.align-middle
                    span.scale-big.animate-in
                      i.fa.fa-envelope-o
                    .clearfix
                    span.small-spliter.animate-in.spliter
                  .right-detail.table-cell.align-middle
                    span
                      a(href='mailto:info@ingenieriamvd.com') info@ingenieriamvd.com
              .detail-holder.table
                .table-row
                  .left-detail.table-cell.align-middle
                    span.scale-big.animate-in
                      i.fa.fa-phone
                    .clearfix
                    span.small-spliter.animate-in.spliter
                  .right-detail.table-cell.align-middle
                    span
                      | (01) 528-4005
          .col-lg-7.col-md-7.col-sm-7.col-xs-12.col-lg-offset-1.col-sm-pull-5
            form.contact-form(action='send', method='post')
              input.name(type='text', name='name', placeholder='Name', required='')
              input.email(type='email', name='email', placeholder='Email', required='')
              textarea.message(name='message', placeholder='Message', required='')
              button.submit.btn.transparent.p10-50.border-2(type='clear', value='SUBMIT') Enviar
  // CONTACT SECTION END
  // MAP SECTION START
  section.map-container
    #map-canvas
  // MAP SECTION END