extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.services-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 AIRE ACONDICIONADO
            ul
              li
                a(href='index.html') INSTALACION DE SISTEMAS DE AIRE ACONDICIONADO.
          
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature
          img(src='assets/images/servicios/aireacon.png', alt='services-detail-img', style='center')
          img(src='assets/images/proyecto/aireacondicionado.jpg', alt='services-detail-img', style='center')
          p
            | EMPRESA CAPACITA ALA IMPLEMENTACION I/O MATENIMIENTO DE SISTEMAS DE AIRE ACONDICIONADO.

          h3 ALCANCE DEL PROYECTO:
          ul
            |  Equipos de aire acondicionado de las mejores marcas mundialmente conocidas como LG, CARRIER, LENNOX, YORK, para el hogar, laboratorios, centros de control industriales, oficinas, y salas de servidores.
            |  sistemas de aire acondicionado que brindan un control fiable, preciso y eficiente de la temperatura, humedad y flujo de aire, especialmente en ambientes de sala de servidores, para un funcionamiento apropiado de los equipos electrónicos críticos. Estos sistemas ofrecen una alta eficiencia energética y control amigable para el usuario.


