extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.services-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 REDES DE DATOS - LAN
            ul
              li
                a(href='index.html') AMPLIACIÓN Y MEJORAMIENTO DEL SISTEMA DE AGUA POTABLE Y ALCANTARILLADO DEL DISTRITO DE PILLCOMARCA – HUÁNUCO.
          
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature
          img(src='assets/images/proyecto/redesdatoslan.jpg', alt='services-detail-img', style='text-align:center')
          p
            | 

          h3 ALCANCE DEL PROYECTO:
          ul
            li 
              | Venta e instalación de terminales de cómputo y servidores de red.
            li  
              | Venta e instalación de switches, firewalls, proxis, enlaces de fibra.

            li 
              | Venta e instalación de gabinetes y rack de piso y de pared.

            li 
              | Contratos de mantenimiento a plazo fijo e indefinido.
            li 
              | Asesoría en proyectos de redes de datos a la medida de su empresa
            Li
              | Proyectos llave en mano.
