extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.services-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 TELECOMUNICACIONES 
            ul
              li
                a(href='index.html') .
          
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature
          img(src='assets/images/servicios/telecomu.jpg', alt='services-detail-img')
          p
            | EN TELECOMUNICACIONES TENEMOS UNA AMPLIA VARIEDAD DE SERVICIOS.

          h3 ALCANCE DE LOS SERVICIOS:
          ul
            li 
              | Venta e instalación de centrales telefónicas digitales, híbridas e IP.
            li  
              | Venta de terminales telefónicos analógicos, digitales e IP.

            li 
              | Cableado telefónico convencional y estructurado. Certificaciones.

            li 
              | Venta e instalación de Tarificadores de llamadas. Capacitaciones.
            li 
              | Contratos de mantenimiento a plazo fijo e indefinido.

            li 
              | Asesoría en proyectos a la medida de su empresa.

            li 
              |	Proyectos llave en mano.

