extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.services-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 TELECOMUNICACIONES 
            ul
              li
                a(href='index.html') .
          
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature
          img(src='assets/images/proyecto/proyecto04.jpg', alt='services-detail-img')
          p
            | GESTIÓN, ELABORACIÓN DE EXPEDIENTE TÉCNICO Y SUMINISTRO E INSTALACIÓN DE LOS SISTEMAS DE UTILIZACIÓN EN MEDIA TENSIÓN Y TENSIÓN DE DISTRIBUCIÓN SECUNDARIA PARA LOS SUMINISTROS ELÉCTRICOS DE LA ESTACIÓN DE BOMBEO EB-1, EB-2, EB-3 Y RESERVORIOS RP-2, 2 RP-3, RP-4 Y RP-5 LOS MISMOS QUE ESTÁN ORIENTADOS A LA ATENCIÓN DE LAS NECESIDADES PARA LA OBRA DEL PROYECTO.

          h3 ALCANCE DEL PROYECTO:
          ul
            li 
              | Gestión de Factibilidad de Suministro y Fijación de Punto de Diseño, Elaboración del Expediente Técnico y Ejecución de las Obras Relativas al Sistema de Utilización en Media Tensión 10-22.9kV, Trifásico para el Suministro Eléctrico de la Estación de Bombeo EB-1.
            li  
              | Gestión de Factibilidad de Suministro y Fijación de Punto de Diseño, Elaboración del Expediente Técnico y Ejecución de las Obras Relativas al Sistema de Utilización en Media Tensión 10-22.9kV, Trifásico para el Suministro Eléctrico del Reservorio proyectado RP-2 y EB-2.

            li 
              | Gestión de Factibilidad de Suministro y Fijación de Punto de Diseño, Elaboración del Expediente Técnico y Ejecución de las Obras Relativas al Sistema de Utilización en Media Tensión 10-22.9kV, Trifásico para el Suministro Eléctrico del Reservorio proyectado RP-3 y EB-3.

            li 
              | Elaboración del Expediente Técnico y Ejecución de Obras Relativas al Sistema de Utilización a Tensión de Distribución Secundaria 380V, Trifásico para el Suministro Eléctrico predio Reservorio Proyectado RP-4.
            li 
              | Elaboración del Expediente Técnico y Ejecución de las Obras Relativas al Sistema de Utilización a Tensión de Distribución Secundaria 380V, Trifásico para el Suministro Eléctrico predio Reservorio RP-5.

            li 
              | Suministro e Instalación de Subestación Compacta, Grupo Electrógeno y Tablero de Transferencia Automática.

            li 
              |	Instalaciones Eléctricas  Interiores en Sala de Bombas EB-01.

