extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.services-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 CONCURSO PUBLICO N° 003-2016-GRH/GR-1
            ul
              li
                a(href='index.html') AMPLIACIÓN Y MEJORAMIENTO DEL SISTEMA DE AGUA POTABLE Y ALCANTARILLADO DEL DISTRITO DE PILLCOMARCA – HUÁNUCO.
          
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature

          p
            | INSTALACIÓN HIDRÁULICA Y ELECTROMECÁNICA EN LOS RESERVORIOS RP-1, RP-2, RP-3, RP-4 Y RP-5.

          h3  ALCANCE DEL PROYECTO:
          ul
            li 
              | Trazo y replanteo de Obras Electromecánicas (Instalaciones Hidráulicas, Eléctricas e Instrumentación).
            li  
              | Suministro y Montaje Electromecánico de Equipamiento Hidráulico e Instalación de Tableros Eléctricos tales como: Tablero de Distribución, Tableros de Control y Telemetría para el Reservorio RP-1.

            li 
              | Suministro y Montaje Electromecánico de Equipamiento Hidráulico e Instalación de Tableros Eléctricos tales como: Tablero General, Tablero de Distribución, Tableros de Arranque de Bombas, Tablero Banco de Condensadores, Tableros de Control y Telemetría para el Reservorio RP-2.

            li 
              | Suministro y Montaje Electromecánico de Equipamiento Hidráulico e Instalación de Tableros Eléctricos tales como: Tablero General, Tablero de Distribución, Tableros de Arranque de Bombas, Tablero Banco de Condensadores, Tableros de Control y Telemetría para el Reservorio RP-3.
            li 
              | Suministro y Montaje Electromecánico de Equipamiento Hidráulico e Instalación de Tableros Eléctricos tales como: Tablero de Distribución, Tableros de Control y Telemetría para el Reservorio RP-4.

            li 
              | Suministro y Montaje Electromecánico de Equipamiento Hidráulico e Instalación de Tableros Eléctricos tales como: Tablero de Distribución, Tablero Banco de Condensadores, Tableros de Control y Telemetría para el Reservorio RP-5.

            li 
              | Suministro y Montaje Electromecánico de Equipamiento Hidráulico e Instalación de Tableros Eléctricos tales como: Tablero General, Tablero de Distribución, Tablero de Arranque de Bombas, Tablero Banco de Condensadores, Tableros de Control y Telemetría para la Estación de Bombeo EB-02.

            li
              | Suministro y Montaje Electromecánico de Equipamiento Hidráulico e Instalación de Tableros Eléctricos tales como: Tablero General, Tablero de Distribución, Tablero de Arranque de Bombas, Tablero Banco de Condensadores, Tableros de Control y Telemetría para la Estación de Bombeo EB-03.
            li
              | Suministro e Instalación de Sistema de Alumbrado y Tomacorriente, de acuerdo a la descripción del Proyecto.
            li
              | Suministro e Instalación de Instrumentos de medida tales como nivel, presión, caudal, Sensores de Intrusos.  