extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.services-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 PUESTA A TIERRA
            ul
              li
                a(href='solutions-pozotierracp') Instalacion de pozos a tierra para la proteccion de equipos.
          
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature
          img(src='assets/images/servicios/tierra2.jpg', alt='services-detail-img', style='text-align:center')
          p
            | 

          h3 ALCANCE DEL PROYECTO:
          ul
            li 
              | Venta e instalación de insumos completos para una puesta a tierra horizontal y vertical.
            li  
              | Optimización de pozos a tierra ya existentes.

            li 
              | Mantenimiento preventivo e integral de puestas a tierra.

            li 
              | Asesoría técnica profesional.
            li 
              | Certificación de puestas a tierra, por Ingeniero colegiado especialista.