extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.services-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 CAPACITACIONES
            ul
              li
                a(href='index.html') Inicio / capacitaciones

  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature
          img(src='assets/images/servicios/capacita.jpg', alt='services-detail-img', style='text-align:center')
          p
            | CONTAMOS CON UN PERSONAL ESPECIALIZADO PARA GUIAR TU PROYECTO. BRINDAMOS CAPACITACIONES EN BASE A NUESTRO PRODUCTOS Y SERVICIOS OFRECIDOS 

          h3 PAUTAS DE LA CAPACITACION:
          ul
            li 
              | Brindamos una capacitacion personalizada.
            li  
              | Te ofecemos un servicio de capacitacion para las distintos modelos y marcas ofrecidas.

            li 
              | Nuestras capacitaciones tambien esta orientada a intalaciones y cuidados, con las normas establecidas.

            li 
              | Capacitaciones orientadas ala instalacion mantenimiento de nuestros productos.
