extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.services-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 REDES DE DISTRIBUCION ELECTRICA
            ul
              li
                a Diseño, ingenieria e instalacion de redes de distribucion electrica.
          
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          
          .detail-page-feature
            img(src='assets/images/servicios/tableroelectrico.jpg', alt='services-detail-img')
          p             
            

          h3  ALCANCES:
          ul
            li 
              | Instalaciones de redes de distribución de mediana y baja tensión, de los tipos monofásico y trifásico, para oficinas comerciales e industria.
            li  
              | Montaje e instalación de cuadros eléctricos de potencia y maniobra, balanceo y análisis de cargas.

            li 
              | Instalación de canalizaciones para el cableado, canaletas de PVC y metálicas, tubos de acero.

            li 
              | Instalaciones comerciales e industriales de tomas de corriente monofásica y trifásica, con puesta a tierra.
            li 
              | Instalaciones comerciales e industriales de elementos de Iluminación de interior y exterior. Luces de emergencia.

            li 
              | Instalaciones comerciales e industriales de generadores eléctricos y cuadros de conmutación.

            li 
              | Remodelaciones de instalaciones eléctricas existentes de edificios, oficinas y locales industriales, mejoramiento de la eficiencia energética, análisis de cargas.

            li
              | Asesoría en proyectos de redes de distribución a la medida de su empresa.
            li
              | Proyectos llave en mano.