extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.services-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 VIDEO VIGILANCIA
            ul
              li
                a(href='index.html') AMPLIACIÓN Y MEJORAMIENTO DEL SISTEMA DE AGUA POTABLE Y ALCANTARILLADO DEL DISTRITO DE PILLCOMARCA – HUÁNUCO.
          
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature
          img(src='assets/images/servicios/videovigi.jpg', alt='services-detail-img', style='text-align:center')
          img(src='assets/images/vid.jpg', alt='services-detail-img', style='text-align:center')
          
          p
            | 

          h3 ALCANCE DEL PROYECTO:
          ul
            li 
              | Venta e instalación de equipamiento completo para sistemas de video vigilancia, cámaras PTZ analógicas, digitales e IP, unidades DVR, monitores, cableados.
            li  
              | Optimización de sistema de video vigilancia existentes.

            li 
              | Control de vigilancia local y remota, vía LAN o internet.

            li 
              | Mantenimiento preventivo e integral de equipos de video vigilancia.
            li 
              | Contratos de mantenimiento a plazo fijo e indefinido.
            li 
              | Asesoría técnica profesional.
            li 
              | Proyectos llave en mano.   