extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.iniciogeneral-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 SISTEMAS DE AIRE ACONDICIONADO
            ul
              li
                a(href='index.html') Servicios y
              li
                span 
              li
                a(href='services.html') soluciones
              li
                span 
              li
                span sistema de aire acondicionado 
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature
            img(src='assets/images/soluciones/telecomunicaciones.jpg', alt='services-detail-img')
            p 
                | 
            ul
                li
                    | Diseño de radioenlaces, instalacion de torres y pruebas de enlaces.
                li
                    | Diseño, instalaciones y pruebas de sisteas de cableado estructurado para edificaciones.

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img card-img-right ",src="assets/images/aire.png", alt="")
        .destinos__item__description
        
          
        p.destinos__item_text Equipos de aire acondicionado de las mejores marcas mundialmente conocidas como LG, CARRIER, LENNOX, YORK, para el hogar, laboratorios, centros de control industriales, oficinas, y salas de servidores. Sistemas de aire acondicionado que brindan un control fiable, preciso y eficiente de la temperatura, humedad y flujo de aire, especialmente en ambientes de sala de servidores, para un funcionamiento apropiado de los equipos electrónicos críticos. Estos sistemas ofrecen una alta eficiencia energética y control amigable para el usuario.

