extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.services-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 SISTEMAS DE VIDEO VIGILANCIA Y SOLUCIONES DE VOZ SOBRE IP
            ul
              li
                a(href='index.html') Servicios y
              li
                span 
              li
                a(href='services.html') soluciones
              li
                span 
              li
                span Sistemas de video vigilancia y soluciones de voz sobre ip
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature
            img(src='assets/images/soluciones/telecomunicaciones.jpg', alt='services-detail-img')
            p 
                | 
            ul
                li
                    | Diseño de radioenlaces, instalacion de torres y pruebas de enlaces.
                li
                    | Diseño, instalaciones y pruebas de sisteas de cableado estructurado para edificaciones.
