extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.services-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 SANEAMIENTO
            ul
              li
                a(href='index.html') Servicios y
              li
                span 
              li
                a(href='services.html') soluciones
              li
                span 
              li
                span en Saneamiento 
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature
            img(src='assets/images/soluciones/saneamiento.jpg', alt='services-detail-img')
          p
            | Obras de agua potable y Alcantarillado
          p
            | Sistema Electrico:
          ul
            li 
                | Suministro y montaje de tableros de control, cableado, conexionado pruebas y puesta en marcha.
            li 
                | Sistemas scada.
          p
            | Sistema Hidraulico:
          ul
            li 
                | Suministro y montaje de tableros de control, cableado, conexionado pruebas y puesta en marcha.
            li 
                | Sistemas scada.
          p
            | Sistema Electrico:
          ul
            li 
                | Suministro y montaje de tableros de control, cableado, conexionado pruebas y puesta en marcha.
            li 
                | Sistemas scada.



