extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.iniciogeneral-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 MATERIALES PARA PUESTA TIERRA
            ul
              li
                a(href='proyectocp10') Servicios y
              li
                span 
              li
                a(href='proyectocp10') soluciones
              li
                span 
              li
                span materiales para un sistema puesta tierra 
  // PAGE CONTENT START
  section.page-content.detail-page
             
    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino-item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/materiales.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title SAMSUNG OfficeServ 7100 
        p.destinos__item_text  Sistemas de puesta a tierra ERICO, marca de reconocimiento mundial, que, desde 1992, fabrica insumos de pozos a tierra, únicos en el mundo, con materiales de refuerzo de gran calidad que resuelve los problemas más complicados de puestas a tierra. El GEM 25 es un cemento conductivo que cumple con el Standard IEC 62561-7, permite una fácil instalación, libre de mantenimiento y mantiene al sistema de puesta a tierra con valores de resistividad bajos. Se puede utilizar en cualquier tipo de suelo, sea rocoso, arenoso y cimas de montañas. El GEM es el mejor material para reducir la resistencia a tierra y mantenerla baja en forma permanente.          
                    