extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.iniciogeneral-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 MATERIALES PARA PUESTA TIERRA
            ul
              li
                a(href='index.html') Servicios y
              li
                span 
              li
                a(href='services.html') soluciones
              li
                span 
              li
                span materiales para un sistema puesta tierra 
  // PAGE CONTENT START
  section.page-content.detail-page
             
    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino-item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/materiales.png", alt="")
        .destinos__item__description
        
          h4.destinos__title SAMSUNG OfficeServ 7100 
        p.destinos__item_text  Material de la mejor calidad para la instalacion de un sistema puesta tierra.          
                    