extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.iniciogeneral-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 SISTEMAS DE VIDEO VIGILANCIA Y SOLUCIONES DE VOZ SOBRE IP
            ul
              li
                a(href='index.html') Servicios y
              li
                span 
              li
                a(href='services.html') soluciones
              li
                span 
              li
                span Sistemas de video vigilancia y soluciones de voz sobre ip
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature
            img(src='assets/images/proyecto/videovigilancia.jpg', alt='services-detail-img')
            p 
                | 
            ul
               // li
                    | Diseño de radioenlaces, instalacion de torres y pruebas de enlaces.
               // li
                    | Diseño, instalaciones y pruebas de sisteas de cableado estructurado para edificaciones.

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino-item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/vid.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title EQUIPOS DIVERSOS
        p.destinos__item_text  Contamos con equipos de las mejores marcas del mercado como HIKVISION y otros. Los sistemas de video vigilancia se han convertido en un aliado para las empresas, ayudando en la mejora de las operaciones y las ventas, además de la prevención de pérdidas, robos y la confianza hacia los empleados. Las últimas tecnologías de video vigilancia nos permiten integrarnos con las redes LAN e internet, tal que Ud. pueda hacer un monitoreo remoto desde su  PC, laptop, tablet o teléfono celular.

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino-item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/voip.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title EN VOZ SOBRE IP
        p.destinos__item_text  Centrales telefónicas IP de última generación, de la marca más reconocida a nivel mundial, como es ZYCOO, son sistemas totalmente escalables a la medida de su empresa. Además de las funciones de las centrales telefónicas tradicionales, cuenta con capacidades adicionales como: anexos remotos vía internet, interconexión entre sucursales, fax virtual, mensajería unificada, distribución automática de llamadas, entre muchas otras facilidades. Así mismo, los equipos telefónicos IP son versátiles, robustos y amigables para el usuario, disponibles en varios modelos, acordes con las necesidades del usuario.

    
