extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.iniciogeneral-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 EQUIPOS TELEFONICOS DIGITALES Y EQUIPOS TELEFONICOS IP
            ul
              li
                a(href='index.html') Servicios y
              li
                span 
              li
                a(href='services.html') soluciones
              li
                span 
              li
                span en Control 
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature
            
          p
            | Diseño, fabricacion, montaje, pruebas y puesta en servicio de sistemas con equipos telefonicos digitales y equipos telefonicos ip.

          ul
            li 
              | Suministro y montaje de tableros de control, cableado, conexionado pruebas y puesta en marcha.
              img(src='assets/images/soluciones/centraltelefonicaPortada.jpg', alt='services-detail-img')
            li  
              | Sistemas scada.
              