extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.iniciogeneral-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 CENTRALES TELEFONICAS
            ul
              li
                a(href='index.html') Servicios y
              li
                span 
              li
                a(href='services.html') soluciones
              li
                span 
              li
                span centrales telefonicas
                

 
  // PAGE CONTENT START
  
  section.card.sttilado.col-sm-11.mb-3
    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img card-img-right ",src="assets/images/C7070.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title SAMSUNG OfficeServ 7070 
        p.destinos__item_text Es un servidor de comunicaciones para la pequeña empresa que otorga agilidad y tiempo de respuesta como ventaja competitiva, proporciona grandes e inigualables funcionalidades dentro de su categoría. 
        h5 | Capacidad: 48 puertos.

   

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino-item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/C7100.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title SAMSUNG OfficeServ 7100 
        p.destinos__item_text  Es una nueva plataforma, especialmente diseñada para la pequeña y mediana empresa, de configuración dinámica, puede adaptarse a sus necesidades.
          h5 Capacidad: 60 puertos

         

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/C7200.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title SAMSUNG OfficeServ 7200 
        p.destinos__item_text Es la primera central modular de la familia de servidores de comunicaciones Samsung, está diseñada para la mediana y gran empresa, de alta funcionalidad, permite la mejor calidad posible a sus comunicaciones de voz.
        h5 Capacidad:  120 puertos

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/C7400.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title SAMSUNG OfficeServ 7400 
        p.destinos__item_text SAMSUNG OfficeServ 7400 es un servidor de comunicaciones modular, diseñado para la mediana y gran empresa, suministra complejos sistemas de comunicaciones de voz y datos en una sola plataforma, posee una amplia gama de posibilidades y funcionalidades, así como capacidad multi-sitio.
        h5 Capacidad: 480 puertos

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cNortelNorstar.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title Centrales telefónicas digitales NORTEL Norstar 
        p.destinos__item_text Diseñadas para darle soluciones prácticas y a la medida de su empresa, va desde las compactas hasta las modulares, son sistemas de comunicaciones integradas con una amplia riqueza de funcionalidades.
        h5 Capacidad: Compacta 3x8, CICs 8x24, y modular MICs hasta 248 puertos

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cmeridian.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title Centrales telefónicas digitales NORTEL Meridian 
        p.destinos__item_text Diseñadas para darle soluciones de escalabilidad de acuerdo a las necesidades de su empresa, son sistemas de comunicaciones integradas con una amplia gama de funcionalidades, flexibilidad y el más efectivo costo/beneficio, convirtiéndolo, es el sistema de telefonía más elegido por millones de usuarios a nivel mundial.
        h5 Capacidad: 592 anexos y más de 500 servicios suplementarios

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cyestars20.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title YEASTAR S20
        p.destinos__item_text  Es una Central Telefónica IP Hibrida pensada para hogares y pequeñas y medianas PYMES. Escalable con hasta 20 extensiones y 10 llamadas en concurrente, 4 puertos analógicos integrados que se adaptan a la necesidad del cliente FXS/FXO/GSM/BRI. Administración WEB, SIP Forking, Grabación de las comunicaciones, WebRTC, WEB Conference, Wechat, Auto Provision, mejoras de seguridad.

    h1 centrales telefonicas hibridas 

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cyestars50.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title YEASTAR S50 
        p.destinos__item_text Es Central Telefónica IP Hibrida pensada para pequeñas y medianas PYMES. Escalable con hasta 50 extensiones y 25 llamadas en concurrente, 8 puertos analógicos integrados que se adaptan a la necesidad del cliente FXS/FXO/GSM/BRI. Administración WEB, SIP Forking, Grabación de las comunicaciones, WebRTC, WEB Conference, Wechat, Auto Provision, mejoras de seguridad.
        

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cyestars300.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title YEASTAR S300
        p.destinos__item_text Es una Central Telefónica IP Hibrida pensada para empresas grandes y corporaciones. Escalable desde las 300 extensiones hasta 500 extensiones y 60 llamadas en concurrente, cuenta con 3 sócalos para módulos EX08 puertos analógicos integrados que se adaptan a la necesidad del cliente FXS/FXO/GSM/BRI o EX30 de trama 1 E1. Administración WEB, SIP Forking, Grabación de las comunicaciones, WebRTC, WEB Conference, Wechat, Auto Provision, mejoras de seguridad.
        
    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cyestarsoho.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title YEASTAR MyPBX SOHO
        p.destinos__item_text  Es ideal para oficinas y empresas pequeñas con menos de 32 usuarios, MyPBX SOHO es una IP PBX muy asequible, con todas las funciones incorporadas de una IP PBX híbrida, con conectividad a ISDN BRI y PSTN, proporcionando una solución eficiente para su negocio.
        h5 Capacidad: 32 usuarios
        h5 Interfaces: Hasta 4 puertos analógicos (FXO/FXS), o 4 puertos BRI, puerto LAN y WAN.

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cu100.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title YEASTAR MyPBX U100 
        p.destinos__item_text es un modelo de IP PBX que soporta 100 usuarios. Posibilita el acceso a la red ISDN BRI, PSTN, GSM/UMTS y VoIP. Alto rendimiento, estabilidad y compatibilidad, combinados con gran cantidad de funcionalidades y prestaciones, hacen de MyPBX U100, el sistema adecuado para la comunicación empresarial.
        h5 Capacidad: 100 usuarios
        h5 Interfaces: Hasta 16 puertos analógicos (FXO/FXS), u 8 puertos GSM/UMTS, u 8 puertos BRI, puerto LAN y WAN.

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cu100.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title YEASTAR MyPBX U200
        p.destinos__item_text Es un caballo de batalla diseñado para las empresas que requieren hasta 200 usuarios. Es compatible con PSTN, troncal ISDN BRI, redes GSM/UMTS y VoIP. MyPBX U200 es realmente incomparable en las funcionalidades y valor.
        h5 Capacidad: 200 usuarios
        h5 Interfaces: Hasta 16 puertos analógicos (FXO/FXS), u 8 puertos GSM/UMTS, u 8 puertos BRI, puerto LAN y WAN, USB y audio in/out.

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cu300.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title YEASTAR MyPBX U300
        p.destinos__item_text Cuenta con un puerto PRI incorporado (E1/T1) y 2 puertos FXS en un sistema compacto, proporcionando troncales de mayor densidad para oficinas que utilizan señalización E1 PRI. Este sistema soporta hasta 300 usuarios. También podría ser utilizado como un enlace a los sistemas PBX tradicional en aplicaciones.
        h5 Capacidad: 300 usuarios
        h5 Interfaces: Un puerto PRI E1/T1, dos puertos FXS, puerto LAN y WAN, USB y audio in/out.

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cu500.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title YEASTAR MyPBX U500/U510/U520
        p.destinos__item_text Es un equipo de alta densidad, diseñado para grandes empresas que requieran hasta 500 usuarios, es un sistema de fácil configuración y mantenimiento. Proporciona solución simplificada de escalabilidad, ahorro en costos para las empresas.
        h5 Capacidad: 500 usuarios
        h5 Interfaces: 0(U500)/1(U510)/2(U520) puertos PRI E1/T1, hasta 16 puertos analógicos (FXS/FXO), u 8 puertos GSM/UMTS, u 8 puertos BRI, puerto LAN y WAN y USB.

       
    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cimpactas16.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title INTELBRAS IMPACTA 16
        p.destinos__item_text  Es una Central Telefónica IP Hibrida diseñada para hogares y pequeñas empresas PYMES, dándoles agilidad, confiabilidad y ahorro en las comunicaciones. Cuenta con una capacidad escalable hasta 12 extensiones y 4 líneas analógicas, soporta identificación de llamadas, DISA básica incorporada, y se complementa con 4 líneas SIP TRUNK.
        
    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cinpacta68i.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title INTELBRAS IMPACTA 68i
        p.destinos__item_text  Es una Central Telefónica IP Hibrida diseñada para pequeñas y medianas empresas PYMES, dándoles agilidad, confiabilidad y ahorro en las comunicaciones. Cuenta con una capacidad escalable hasta 32 extensiones TDM más 30 extensiones IP, y 6 líneas analógicas más 1 enlace PRI de 30 canales digitales y 30 SIP TRUNK, soporta identificación de llamadas, DISA básica incorporada.

    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cimpacta94.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title INTELBRAS IMPACTA 94
        p.destinos__item_text  Es una Central Telefónica IP Hibrida diseñada para medianas y grandes empresas, dándoles agilidad, confiabilidad y ahorro en las comunicaciones, así como el de integrar las tecnologías analógicas, digitales e IP. Cuenta con una capacidad escalable hasta 48 extensiones TDM más 120 extensiones IP, y 16 líneas analógicas, 8 GSM, 1 enlace PRI (30 canales digitales) y 30 SIP TRUNK, soporta identificación de llamadas, DISA básica incorporada.


    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cinpacta140.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title NTELBRAS IMPACTA 140
        p.destinos__item_text  Es una Central Telefónica IP Hibrida diseñada para grandes empresas, dándoles agilidad, confiabilidad y ahorro en las comunicaciones, así como el de integrar las tecnologías analógicas, digitales e IP. Cuenta con una capacidad escalable hasta 80 extensiones TDM más 120 extensiones IP, y 24 líneas analógicas, 8 GSM, 2 enlaces PRI (60 canales digitales) y 30 SIP TRUNK, soporta identificación de llamadas, DISA básica incorporada.
                    
    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cinpacta220.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title INTELBRAS IMPACTA 220
        p.destinos__item_text Es una Central Telefónica IP Hibrida diseñada para grandes empresas y corporaciones, dándoles agilidad, confiabilidad y ahorro en las comunicaciones, así como el de integrar las tecnologías analógicas, digitales e IP. Cuenta con una capacidad escalable hasta 160 extensiones TDM más 120 extensiones IP, y 24 líneas analógicas, 8 GSM, 2 enlaces PRI (60 canales digitales) y 30 SIP TRUNK, soporta identificación de llamadas, DISA básica incorporada.
         
    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/cinpacta300.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title INTELBRAS IMPACTA 300
        p.destinos__item_text Es una Central Telefónica IP Hibrida diseñada para grandes empresas y corporaciones, dándoles agilidad, confiabilidad y ahorro en las comunicaciones, así como el de integrar las tecnologías analógicas, digitales e IP. Cuenta con una capacidad escalable hasta 240 extensiones TDM más 120 extensiones IP, y 24 líneas analógicas, 8 GSM, 2 enlaces PRI (60 canales digitales) y 30 SIP TRUNK, soporta identificación de llamadas, DISA básica incorporada.
               
    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/covoxu20.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title ZYCOO CooVox U20
        p.destinos__item_text Es una solución ideal para pequeñas y medianas empresas con un máximo de 30 usuarios. La CooVox U20 es el equipo más fiable y robusto de todas las plataformas de telefonía VoIP de su especie. Ideal para uso con troncales SIP.
        h5 Capacidad: 30 usuarios
        h5 Interfaces: 2 puertos analógicos (FXS/FXO), un puerto GSM/UMTS, puerto LAN, 
    
    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/covoxu50.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title ZYCOO CooVox U50
        p.destinos__item_text Es una solución ideal para pequeñas y medianas empresas con un máximo de 100 usuarios, es un equipo completamente modular y libre de licencias, la CooVox U50 es la más fiable y robusta de todas las plataformas de telefonía VoIP de su especie. Ideal para uso con troncales SIP.
        h5 Capacidad: 100 usuarios
        h5 Interfaces: 2 slots para módulo Zycoo FXS/FXO/GSM, 1 slot oara módulo Zycoo FXS/FXO/GSM/PRI/BRI, puerto LAN, USB.

        
    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/covoxu60.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title ZYCOO CooVox U60
        p.destinos__item_text Está diseñado especialmente para medianas y grandes empresas que necesitan mantener varias líneas analógicas y/o tienen muchos teléfonos analógicos en uso, es ideal para empresas con hasta 200 usuarios. CooVox U60 provee muchas funciones avanzadas como IVR, correo de voz, extensiones remotas, salas de conferencias, registro de llamadas y mucho más.
        h5 Capacidad: 200 usuarios
        h5 Interfaces: 24 puertos analógicos (FXS/FXO), puerto LAN y WAN, 2 puertos USB y audio in/out.


    .img-rounded.text-white.mb-3
      .no-gutters.destinos_elegidos.card_mac
       .destino__item.row
        img.destinos_img.col-md-4(class="img-responsive card-img ",src="assets/images/covoxu100.jpg", alt="")
        .destinos__item__description
        
          h4.destinos__title ZYCOO CooVox U100
        p.destinos__item_text Es ideal para medianas y grandes empresas con un máximo de 500 usuarios, su diseño modular permite ampliar los puertos de telefonía al sistema. CooVox U100 es un IP PBX híbrido de próxima generación diseñado y optimizado para las necesidades de telecomunicaciones de negocios de hoy, es asequible, escalable, interoperable, segura y confiable con muchas funcionalidades avanzadas.
        h5 Capacidad: 500 usuarios
        h5 Interfaces: 2 slots para módulo Zycoo FXS/FXO/GSM, 1 slot oara módulo Zycoo FXS/FXO/GSM/PRI/BRI, puerto LAN y WAN, puerto USB y audio in/out.

                                     
         
          //.row
            .col-md-6
              img.img-responsive(src='assets/images/services-deteils-2.jpg', alt='services-detail-img')
              .h6 GREAT WORK PLANNIG
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. lis fugit perferendis quam quis. Ab alias amet animi, dicta dol oremque dolorum explicabo, facere in incidunt inventore ipsam modi molestias nemo neque nisi non
            .col-md-6
              img.img-responsive(src='assets/images/services-deteils-3.jpg', alt='services-detail-img')
              .h6 MARKETING STRATGY
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. lis fugit perferendis quam quis. Ab alias amet animi, dicta dol oremque dolorum explicabo, facere in incidunt inventore ipsam modi molestias nemo neque nisi non
            .col-md-12
              .h6 SATISFACTORY WORK
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. lis fugit perferendis quam quis. Ab alias amet animi, dicta dol oremque dolorum explicabo, facere in incidunt inventore ipsam modi molestias nemo neque nisi non
              p
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean
        //.col-sm-3.col-sm-pull-9
          aside.widget.services-list
            .h5  Our Creative Services 
            span.spliter
            ul
              li.active
                a(href='services-detail.html')
                  i.fa.fa-check-circle-o
                  |  Marketing 
                  i.fa.fa-angle-right
              li
                a(href='services-detail.html')
                  i.fa.fa-check-circle-o
                  |  Web Design 
                  i.fa.fa-angle-right
              li
                a(href='services-detail.html')
                  i.fa.fa-check-circle-o
                  |  Web Development 
                  i.fa.fa-angle-right
              li
                a(href='services-detail.html')
                  i.fa.fa-check-circle-o
                  |  Graphic Design 
                  i.fa.fa-angle-right
              li
                a(href='services-detail.html')
                  i.fa.fa-check-circle-o
                  |  Branding 
                  i.fa.fa-angle-right
              li
                a(href='services-detail.html')
                  i.fa.fa-check-circle-o
                  |  Printing 
                  i.fa.fa-angle-right
          aside.widget.recent-post
            .h5  Recent Posts 
            span.spliter
            ul
              li
                a(href='blog-detail.html')
                  img(src='assets/images/sidebar-blog-1.jpg', alt='sidebar-thumbnail')
                .recent-post-content
                  a(href='blog-detail.html') Let her go, Granser,Ho Hoo encouraged
                  span.meta-date May 24, 2015
              li
                a(href='blog-detail.html')
                  img(src='assets/images/sidebar-blog-2.jpg', alt='sidebar-thumbnail')
                .recent-post-content
                  a(href='blog-detail.html') Let her go, Granser,Ho Hoo encouraged
                  span.meta-date May 24, 2015
              li
                a(href='blog-detail.html')
                  img(src='assets/images/sidebar-blog-3.jpg', alt='sidebar-thumbnail')
                .recent-post-content
                  a(href='blog-detail.html') Let her go, Granser,Ho Hoo encouraged
                  span.meta-date May 24, 2015
          aside.widget.side-testimonials
            .h5  What our Client Say 
            span.spliter
            .testimonial-slider.owl-carousel.owl-theme
              .item
                p
                  | "Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.
                .testi-author-meta
                  img(src='assets/images/sidebar-testimonial-1.jpg', alt='testimonials-author')
                  .h2
                    | Jack London 
                    small NYC, Studios
              .item
                p
                  | "Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.
                .testi-author-meta
                  img(src='assets/images/sidebar-testimonial-1.jpg', alt='testimonials-author')
                  .h2
                    | Jack London 
                    small NYC, Studios
              .item
                p
                  | "Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.
                .testi-author-meta
                  img(src='assets/images/sidebar-testimonial-1.jpg', alt='testimonials-author')
                  .h2
                    | Jack London 
                    small NYC, Studios
  // PAGE CONTENT END
