extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.team-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 Nuestros Clientes
            ul
              li
                a(href='index.html') Inicio
              li
                span -
              li
                span Empresas
  // TEAM SECTION START
  section#portfolio.section-wrapper.gray-background.pb60
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span Clientes
          h2 NUESTROS CLIENTES
          span.spliter
    .portfolio-wrapper
      .portfolio-list.grid
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/recent-work-1.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle Lorem Ipsum
                      .title development
                      .description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      a.btn.transparent.mt20(href='portfolio-detail.html') Detailed
                      a.lightbox(data-lightbox='recent-work-1', href='assets/images/recent-work-1.jpg')
                        i.fa.fa-plus
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/recent-work-2.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle Lorem Ipsum
                      .title development
                      .description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      a.btn.transparent.mt20(href='portfolio-detail.html') Detailed
                      a.lightbox(data-lightbox='recent-work-2', href='assets/images/recent-work-2.jpg')
                        i.fa.fa-plus
        .item.photos
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/recent-work-3.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle Lorem Ipsum
                      .title development
                      .description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      a.btn.transparent.mt20(href='portfolio-detail.html') Detailed
                      a.lightbox(data-lightbox='recent-work-3', href='assets/images/recent-work-3.jpg')
                        i.fa.fa-plus
        .item.print
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/recent-work-4.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .title GRUPO GLORIA
                      .description 
                      
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/recent-work-1.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle Lorem Ipsum
                      .title development
                      .description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      a.btn.transparent.mt20(href='portfolio-detail.html') Detailed
                      a.lightbox(data-lightbox='recent-work-5', href='assets/images/recent-work-1.jpg')
                        i.fa.fa-plus
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/recent-work-2.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle Lorem Ipsum
                      .title development
                      .description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      a.btn.transparent.mt20(href='portfolio-detail.html') Detailed
                      a.lightbox(data-lightbox='recent-work-6', href='assets/images/recent-work-2.jpg')
                        i.fa.fa-plus
        .item.photos
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/recent-work-3.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle Lorem Ipsum
                      .title development
                      .description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      a.btn.transparent.mt20(href='portfolio-detail.html') Detailed
                      a.lightbox(data-lightbox='recent-work-7', href='assets/images/recent-work-3.jpg')
                        i.fa.fa-plus
        .item.print
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/recent-work-4.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle Lorem Ipsum
                      .title development
                      .description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      a.btn.transparent.mt20(href='portfolio-detail.html') Detailed
                      a.lightbox(data-lightbox='recent-work-8', href='assets/images/recent-work-4.jpg')
                        i.fa.fa-plus
    .clearfix
  //
  //section.page-content.section-wrapper.pt0
    .container.page-content-wrapper
      .row
        .col-lg-12.heding-wrapper.text-center

          h2 Nuestros Clientes
          span.spliter
      .row.text-center
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/GLORIA.png', alt='team-img')
            .name GRUPO GLORIA
            .position Co-Founde
            span.spliter

        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/ABENGOA.png', alt='team-img')
            .name GRUPO GLORIA
            .position Co-Founde
            span.spliter
         
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/BEFESA.png', alt='team-img')
            .name GRUPO GLORIA
            .position Co-Founde
            span.spliter
         
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/GOBIERNO_HUANUCO.jpg', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/ABEIMA.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/NESTLE.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/SEDAPAL.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/SEDA_LORETO.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/SEDA_HUANUCO.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter

        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/SAN_LORENZO.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/QROMA.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/PEPSICO.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/MYCOM.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/IBERMATICA.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/HAYDUK.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/GYPLAC.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/GERFOR.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/ETERNIT.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/CPP.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
            
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/clientes/CHIMU.PNG', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
          
        
  // TEAM SECTION END
  // TEAM SECTION START
  // TEAM SECTION END
  // TESTIMONIALS SECTION START
  //section
    .testimonial-wrapper.parallax(data-stellar-background-ratio='0.1', style='background-image: url(assets/images/testimonial-bg.jpg);')
      .overlay
        .container
          .row
            .testimonial-slider.owl-carousel.owl-theme.col-md-8.col-sm-12
              .item
                .avatar
                  .author
                    img(src='assets/images/testimonial-1.jpg', alt='avatar', width='70', height='70')
                .testimonial-content
                  .name JACK LONDON
                  .job Graphic Designer
                  span.spliter
                  div
                    | "Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.
              .item
                .avatar
                  .author
                    img(src='assets/images/testimonial-1.jpg', alt='avatar', width='70', height='70')
                .testimonial-content
                  .name JACK LONDON
                  .job Graphic Designer
                  span.spliter
                  div
                    | "Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.
              .item
                .avatar
                  .author
                    img(src='assets/images/testimonial-1.jpg', alt='avatar', width='70', height='70')
                .testimonial-content
                  .name JACK LONDON
                  .job Graphic Designer
                  span.spliter
                  div
                    | "Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.
  // TESTIMONIALS SECTION END