extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.team-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 Nuestros Clientes
            ul
              li
                a(href='index.html') Inicio
              li
                span -
              li
                span Empresas
  // TEAM SECTION START
  section#portfolio.section-wrapper.gray-background.pb60
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span Clientes
          h2 NUESTROS CLIENTES
          span.spliter
    .portfolio-wrapper
      .portfolio-list.grid
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/nestle.jpg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle  
                      .title NESTLE
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/opplim.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title OPPFILM
        .item.photos
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/protisa.jpeg')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title protisa
        .item.print
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/lnlh.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .title CHOCOLATES DEL PERU
                      .description 
                      
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/CPP.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title CPP
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/ETERNIT.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title ETERNIT
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/GERFOR.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title GERFOR
        .item.photos
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/GLORIA.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title GLORIA
        .item.print
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/GYPLAC.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .title GYPLAC
                      .description 
                      
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/HAYDUK.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title HAYDUK
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/HUANUCO.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title GOBIERNO REGIONAL DE HUANUCO
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/IBERMATICA.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title IBERMATICA
        .item.photos
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/MYCOM.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title MYCOM
        .item.print
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/PEPSICO.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .title PEPSICO
                      .description 
                      
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/SAN_LORENZO.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title SAN LORENZO
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/sedapal.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title SEDAPAL

    .clearfix
