extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.team-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 OUR TEAM
            ul
              li
                a(href='index.html') Home
              li
                span -
              li
                span Team
  // TEAM SECTION START
  section.page-content.section-wrapper.pt0
    .container.page-content-wrapper
      .row
        .col-lg-12.heding-wrapper.text-center
          span LEADERS
          h2 Founders & Seniors
          span.spliter
      .row.text-center
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-1.jpg', alt='team-img')
            .name L. Frank Baum
            .position Co-Founde
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-2.jpg', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-3.jpg', alt='team-img')
            .name Lewis Carroll
            .position Photographer
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-4.jpg', alt='team-img')
            .name Jules Verne
            .position SEO Expert
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
  // TEAM SECTION END
  // TEAM SECTION START
  section.page-content.section-wrapper.gray-background.p0
    .container.page-content-wrapper
      .row
        .col-lg-12.heding-wrapper.text-center
          span SUPPORTS/ADMIN/DEVELOPERS
          h2 Meet Our team
          span.spliter
      .row.team-wrapper.text-center
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-1.jpg', alt='team-img')
            .name L. Frank Baum
            .position Co-Founde
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-2.jpg', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-3.jpg', alt='team-img')
            .name Lewis Carroll
            .position Photographer
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-4.jpg', alt='team-img')
            .name Jules Verne
            .position SEO Expert
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-1.jpg', alt='team-img')
            .name L. Frank Baum
            .position Co-Founde
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-2.jpg', alt='team-img')
            .name Edgar Rice Burroughs
            .position Graphic Designer
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-3.jpg', alt='team-img')
            .name Lewis Carroll
            .position Photographer
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
        .col-lg-3.col-sm-6
          .team-holder.text-center.scale-big.animate-in.team-box
            a(href='#')
              img.img-responsive(src='assets/images/team-4.jpg', alt='team-img')
            .name Jules Verne
            .position SEO Expert
            span.spliter
            .clearfix
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-pinterest
            a(href='#')
              i.fa.fa-instagram
  // TEAM SECTION END
  // TESTIMONIALS SECTION START
  section
    .testimonial-wrapper.parallax(data-stellar-background-ratio='0.1', style='background-image: url(assets/images/testimonial-bg.jpg);')
      .overlay
        .container
          .row
            .testimonial-slider.owl-carousel.owl-theme.col-md-8.col-sm-12
              .item
                .avatar
                  .author
                    img(src='assets/images/testimonial-1.jpg', alt='avatar', width='70', height='70')
                .testimonial-content
                  .name JACK LONDON
                  .job Graphic Designer
                  span.spliter
                  div
                    | "Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.
              .item
                .avatar
                  .author
                    img(src='assets/images/testimonial-1.jpg', alt='avatar', width='70', height='70')
                .testimonial-content
                  .name JACK LONDON
                  .job Graphic Designer
                  span.spliter
                  div
                    | "Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.
              .item
                .avatar
                  .author
                    img(src='assets/images/testimonial-1.jpg', alt='avatar', width='70', height='70')
                .testimonial-content
                  .name JACK LONDON
                  .job Graphic Designer
                  span.spliter
                  div
                    | "Let her go, Granser," Hoo-Hoo encouraged; for the old man was already maundering about the  dis respect for elders and the reversion to cruelty of all humans that fell from high culture  to primitive conditions.
  // TESTIMONIALS SECTION END